.carousel {
    @extend %container;

    display: flex;
    overflow: visible !important;
    flex-direction: column;

    // third party overrides
    .tns-ovh {
        overflow: visible;
    }

    .slider {
        z-index: 1;
    }

    .indicators {
        z-index: 2;


        &__dot {
            width: 20px;
            height: 20px;

            border-radius: 50%;
            box-shadow: none;

            &.tns-nav-active {
                background: tint($primary, 20%);
            }
        }
    }
}
