.tabs {
    @extend %grid;
    @include media-breakpoint-up(md) {
        flex-direction: column;
    }

    overflow: visible;

    align-items: center;

    &__radio {
        position: fixed;
        z-index: -9999;

        &,
        &:focus,
        &:checked {
            border: none;
            outline: none;
        }
    }

    &__labels {
        z-index: 2;

        display: flex;
        flex-direction: row;

        padding: $tabs-labels-padding-y $tabs-label-padding-x;

        color: $tabs-label-color;

        align-self: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        :checked:nth-child(1) ~ & > :nth-child(1),
        :checked:nth-child(2) ~ & > :nth-child(2),
        :checked:nth-child(3) ~ & > :nth-child(3),
        :checked:nth-child(4) ~ & > :nth-child(4),
        :checked:nth-child(5) ~ & > :nth-child(5),
        :checked:nth-child(6) ~ & > :nth-child(6) {
            z-index: 2;

            color: $tabs-label-active-color;
            background: $tabs-label-active-bg;
        }
    }

    &__label {
        font-weight: $tabs-label-font-weight;
        line-height: $tabs-label-lineheight;

        z-index: 1;

        display: inline-flex;
        flex-direction: row;

        width: auto;
        margin: 0 auto;
        padding: $tabs-label-padding-y $tabs-label-padding-x;

        cursor: pointer;
        transition: $tabs-label-transition;
        text-align: center;

        color: inherit;
        border-radius: $tabs-label-border-radius;

        flex: 1 0 auto;
        align-items: center;
        justify-content: space-between;

        &:hover {
            color: $tabs-label-hover-color;
            background: $tabs-label-hover-bg;
        }

        .label__icon {
            margin: 0 0.25em;
        }

        .label__text {
            font-weight: inherit;
            font-variant: small-caps;

            margin-bottom: 0;

            white-space: nowrap;
            text-transform: lowercase;
        }
    }

    &__content {
        z-index: 1;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        border-radius: $tabs-content-border-radius;

        .tab {
            display: flex;
            overflow: hidden;

            width: 100%;
            height: 0;

            transition: flex 400ms ease-in;

            background: $tabs-content-bg;
            box-shadow: $tabs-content-box-shadow;

            justify-content: flex-end;
            align-items: flex-start;

            :nth-of-type(1):checked ~ &:nth-child(1),
            :nth-of-type(2):checked ~ &:nth-child(2),
            :nth-of-type(3):checked ~ &:nth-child(3),
            :nth-of-type(4):checked ~ &:nth-child(4),
            :nth-of-type(5):checked ~ &:nth-child(5),
            :nth-of-type(6):checked ~ &:nth-child(6) {
                z-index: 2;

                height: auto;

                flex-grow: 1;
            }
        }
    }
}
