%tabs {
    @extend %grid;

    flex-direction: column;
    align-items: center;

    overflow: visible;

    [type=radio] {
        position: fixed;
        z-index: -9999;

        &,
        &:focus,
        &:checked {
            border: none;
            outline: none;
        }
    }
}

%tabs-buttons {
    z-index: 1;

    overflow-x: auto;

    overscroll-behavior: contain;
    -ms-scroll-chaining: none;
    -ms-overflow-style: none;

    scrollbar-width: none;

    white-space: nowrap;

    max-width: 100vw;

    &::-webkit-scrollbar {
        height: 0;

        background: transparent;
    }

    &:after,
    &:before {
        content: '';

        display: inline-block;

        height: 0;
        width: $grid-gutter-width * 0.5;
    }

    .button-group {
        z-index: 2;

        flex-direction: row;
        flex-wrap: nowrap;

        justify-content: flex-start;

        max-width: none;

        [class^=button] {
            opacity: 0.8;
        }
    }

    %button-active {
        z-index: 2;

        filter: none;
        opacity: 1;
    }

    @for $n from 1 through 12 {
        :checked:nth-child(#{$n}) ~ & > .button-group > :nth-child(#{$n}) {
            @extend %button-active;
        }
    }
}

%tabs-content {
    @include media-breakpoint-up(md) {
        padding-right: 0;
        padding-left: 0;
    }

    display: flex;
    flex-direction: column;

    padding-right: $grid-gutter-width * 0.25;
    padding-left: $grid-gutter-width * 0.25;

    width: 100%;

    @for $n from 1 through 12 {
        :checked:nth-child(#{$n}) ~ & > :nth-child(#{$n}) {
            @extend %tab-active;
        }
    }
}

%tab {
    display: flex;
    overflow: visible;

    width: 100%;
    height: 0;

    opacity: 0;

    background: $tabs-content-bg;
    box-shadow: $tabs-content-box-shadow;

    justify-content: center;
    align-items: center;
}

%tab-active {
    opacity: 1;

    height: auto;

    transition: opacity 150ms ease-in;
}

.tabs {
    @extend %tabs;
}

.tabs__buttons {
    @extend %tabs-buttons;
}

.tabs__content {
    @extend %tabs-content;
}

.tab {
    @extend %tab;
}
