.feature {
    @extend %grid-item;
    @include media-breakpoint-up(md) {
        flex-direction: row;

        flex-wrap: nowrap;
    }

    display: flex;
    flex-direction: column;

    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);

    &--card {
        @extend %card;

        padding: 0;
    }

    &--1-1 {
        @extend %grid-item-1-1;
    }

    &--1-2 {
        @extend %grid-item-1-2;
    }

    &--1-3 {
        @extend %grid-item-1-3;
    }

    &--1-4 {
        @extend %grid-item-1-4;
    }

    &--1-5 {
        @extend %grid-item-1-5;
    }

    &__content {
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;

        padding: ($grid-gutter-width / 2);

        color: inherit;

        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
    }

    &--with-image &__content {
        @include media-breakpoint-up(md) {
            width: 60%;

            flex: 1 0 60%;
        }
    }

    &--card &__content {
        padding: $grid-gutter-width;
    }

    &__title {
        position: relative;

        display: flex;
        flex-direction: row;

        justify-content: flex-start;
        align-items: center;

        .title__icon {
            @include simple-feature-icon(16px, inherit);

            font-variant: normal;
            line-height: inherit;

            margin-right: 0.4em;

            flex: 0 0 auto;
        }
    }

    &__text {
        margin-bottom: auto;

        flex: 0 0 auto;

         > :last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        margin-top: 1rem;

        align-self: center;

        &--empty {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            margin-top: 0;
        }
    }

    &__image {
        @include media-breakpoint-up(md) {
            width: 40%;

            flex: 1 1 40%;
        }

        z-index: 1;

        display: flex;
        overflow: visible;

        width: 100%;

        align-content: center;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: auto;
            margin: 0;

            flex: 0 0 auto;
        }
    }
}
