.post {
    @extend %grid-item;

    &--1-1 {
        @extend %grid-item-1-1;
    }

    &--1-2 {
        @extend %grid-item-1-2;
    }

    &--1-3 {
        @extend %grid-item-1-3;
    }

    &--1-4 {
        @extend %grid-item-1-4;
    }

    &--1-5 {
        @extend %grid-item-1-5;
    }

    &__content {
        @extend %module-content-fluid;

        padding: ($grid-gutter-width / 2);

        justify-content: flex-start;
        align-items: stretch;
    }

    &__header {
        position: relative;
        z-index: 1;

        overflow: hidden;

        width: auto;
        margin: 0 ($grid-gutter-width / -2) ($grid-gutter-width / 2);

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__categories {
        position: relative;

        display: flex;
        flex-direction: row;

        margin-bottom: ($grid-gutter-width / 2);

        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        &:before,
        &:after {
            width: 50%;
            height: 0;
            margin: 0.5rem;

            content: '';

            border-bottom: $border-width-lg solid tint($body-color-light, 75%);

            flex: 1 1 100%;
        }

        .category {
            font-weight: $font-weight-bold;
            font-variant: small-caps;

            text-decoration: none;
            text-transform: lowercase;

            color: $body-color-light;
            &[href] {
                color: $tertiary;
            }

            &[href]:hover {
                text-decoration: underline;

                color: shade($tertiary, 10%);
            }
        }
    }


    &__title {
        @include media-breakpoint-up(md) {
            padding-right: ($grid-gutter-width);
            padding-left: ($grid-gutter-width);
        }

        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;

        margin-bottom: ($grid-gutter-width / 4);

        text-align: center;
    }

    &__posted {
        @include media-breakpoint-up(md) {
            margin-bottom: ($grid-gutter-width / 4);

            flex-wrap: nowrap;
        }

        font-weight: $font-weight-bold;
        font-variant: small-caps;

        display: flex;
        flex-direction: row;

        margin-bottom: ($grid-gutter-width / 8);
        padding-right: ($grid-gutter-width);
        padding-left: ($grid-gutter-width);

        text-align: center;
        text-transform: lowercase;

        color: $secondary;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .author,
        .date {
            position: relative;

            margin: 0 0.125em;

            flex: 0 0 auto;
        }

        .prefix,
        .infix {
            color: $body-color-light;
        }
    }

    &__tags {
        margin-bottom: $grid-gutter-width;

        text-align: center;
        .tag {
            @include badge-rounded-theme(tint($secondary, 30%), $indigo);
        }
    }

    &__body {
        @include media-breakpoint-up(md) {
            padding: ($grid-gutter-width / 2);
        }

        margin-right: 0.5rem;
        margin-left: 0.5rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__continue {
        @include media-breakpoint-up(md) {
            padding-right: ($grid-gutter-width / 2);
            padding-left: ($grid-gutter-width / 2);
        }

        margin-right: 0.5rem;
        margin-left: 0.5rem;

        .button {
            @extend %button--sm;
        }
    }
}
