@keyframes Scroll {
    0% {
        transform: translate3d(0, -50%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes DrawLine {
    to {
        stroke-dashOffset: 0;
    }
}

@keyframes FadeStroke {
    to {
        stroke-opacity: 0;
    }
}

@keyframes FillIn {
    from {
        fill-opacity: 0;
    }
    to {
        fill-opacity: 1;
    }
}
