//
// Color system
//

// stylelint-disable
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #010b13;

$blue: #007bff;
$purple: #3e2f5b;
$indigo: #5220a7;
$pink: #e83e8c;
$red: #dc3545;
$orange: #d44f01;
$yellow: #e06900;
$green: #28a745;
$teal: #007c5a;
$cyan: #17a2b8;

$primary: $yellow;
$secondary: $purple;
$tertiary: $indigo;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $white;
$dark: $black;

$theme-colors: ();
$theme-colors: map-merge((
  'primary':    $primary,
  'secondary':  $secondary,
  'tertiary':   $tertiary,
  'success':    $success,
  'info':       $info,
  'warning':    $warning,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark
), $theme-colors);
// stylelint-enable

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

// Body
//
// Settings for the `<body>` element.

$body-bg: tint($secondary, 96%);
$body-bg-light: tint($secondary, 99%);
$body-bg-dark: tint($secondary, 90%);
$body-color: shade($secondary, 25%);
$body-color-light: tint($body-color, 50%);
$body-color-dark: shade($body-color, 50%);

// Links
//
// Style anchor elements.

$link-color: theme-color('primary');
$link-decoration: none;
$link-disabled-color: $gray-500;
$link-hover-color: shade($link-color, 15%);
$link-hover-decoration: underline;
$link-active-color: shade($link-color, 25%);

// Grids
$grid-xs: 400px;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;
$grid-xxl: 1480px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: $grid-sm,
  md: $grid-md,
  lg: $grid-lg,
  xl: $grid-xl,
  xxl: $grid-xxl
);

// Grid max widths
$grid-max-xs: 360px;
$grid-max-sm: 540px;
$grid-max-md: 720px;
$grid-max-lg: 940px;
$grid-max-xl: 1140px;
$grid-max-xxl: 1368px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: $grid-max-sm,
  md: $grid-max-md,
  lg: $grid-max-lg,
  xl: $grid-max-xl,
  xxl: $grid-max-xxl,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 6;
$grid-gutter-width: 48px;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5;
$line-height-sm:              1.5;

$border-width: 1px;
$border-width-lg: 3px;
$border-color: $gray-200;

$border-radius: 2rem;
$border-radius-lg: 2.5rem;
$border-radius-sm: 0.25rem;

$component-active-color:      $white;
$component-active-bg:         theme-color("primary");

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
$font-family-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
// stylelint-enable value-keyword-case

$font-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg-factor: 1.125;
$font-size-sm-factor: 0.75;
$font-size-base: $font-base * $font-size-lg-factor;
$font-size-lg: $font-size-base * $font-size-lg-factor;
$font-size-sm: $font-size-base * $font-size-sm-factor;

$font-weight-light: lighter;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: bold;

$line-height-base: 1.65;

$h1-font-size: $font-base * 2.625;
$h2-font-size: $font-base * 2.3125;
$h3-font-size: $font-base * 1.875;
$h4-font-size: $font-base * 1.625;
$h5-font-size: $font-base * 1.375;
$h6-font-size: $font-size-base;

$headings-margin-bottom: $spacer;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-semibold;
$headings-line-height: 1.4;
$headings-color: null;

$blockquote-border-color: $gray-500;
$blockquote-border-width: $border-width-lg;
$blockquote-small-color: $gray-500;
$blockquote-font-size: $font-size-base * 1.25;
$blockquote-margin: $spacer * 2;
$blockquote-padding-y: $grid-gutter-width;
$blockquote-padding-x: $grid-gutter-width;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1.75rem;
$input-btn-font-size:         $font-base;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:       0;
$input-btn-focus-color:       rgba(theme-color('primary'), 0.25);
$input-btn-focus-box-shadow:  none;

$input-btn-padding-y-sm:      .5rem;
$input-btn-padding-x-sm:      1rem;
$input-btn-line-height-sm:    $line-height-sm;

$input-btn-padding-y-lg:      .5rem;
$input-btn-padding-x-lg:      1rem;
$input-btn-line-height-lg:    $line-height-lg;

$input-btn-border-width:      $border-width;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-font-weight: $font-weight-bold;

$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-text-decoration: none;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;


// Forms

$input-bg: $white;
$input-disabled-bg: $gray-200;

$input-color: $gray-700;
$input-border-color: $gray-400;
$input-btn-border-width: $border-width-lg; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba($black,0.075);

$input-border-radius: $border-radius-sm;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;

$input-focus-bg: $input-bg;
$input-focus-border-color: lighten(theme-color('primary'), 25%);
$input-focus-color: $input-color;
$input-placeholder-color: $gray-600;
$input-height-border: $input-btn-border-width * 2;
$input-height-inner: ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});
$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});
$input-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
$form-text-margin-top: 0.25rem;
$form-check-margin-bottom: 0.5rem;
$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.25rem;
$form-check-input-margin-x: 0.25rem;
$form-check-inline-margin-x: 0.75rem;
$form-group-margin-bottom: 1rem;
$input-group-addon-color: $input-color;
$input-group-addon-bg: $gray-200;
$input-group-addon-border-color: $input-border-color;
$custom-control-gutter: 1.5rem;
$custom-control-spacer-y: 0.25rem;
$custom-control-spacer-x: 1rem;
$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: #ddd;
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: inset 0 0.25rem 0.25rem rgba($black,0.1);
$custom-control-indicator-disabled-bg: $gray-200;
$custom-control-description-disabled-color: $gray-600;
$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: theme-color('primary');
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-focus-box-shadow: 0 0 0 1px $body-bg, $input-btn-focus-box-shadow;
$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: lighten(theme-color('primary'), 35%);
$custom-control-indicator-active-box-shadow: none;
$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: str-replace(url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 8\'%3E%3Cpath fill=\'#{$custom-control-indicator-checked-color}\' d=\'M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z\'/%3E%3C/svg%3E'), '#', '%23');
$custom-checkbox-indicator-indeterminate-bg: theme-color('primary');
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate: str-replace(url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 4\'%3E%3Cpath stroke=\'#{$custom-checkbox-indicator-indeterminate-color}\' d=\'M0 2h4\'/%3E%3C/svg%3E'), '#', '%23');
$custom-checkbox-indicator-indeterminate-box-shadow: none;
$custom-radio-indicator-border-radius: 50%;
$custom-radio-indicator-icon-checked: str-replace(url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'-4 -4 8 8\'%3E%3Ccircle r=\'3\' fill=\'#{$custom-control-indicator-checked-color}\'/%3E%3C/svg%3E'), '#', '%23');
$custom-select-padding-y: 0.375rem;
$custom-select-padding-x: 0.75rem;
$custom-select-height: $input-height;
$custom-select-indicator-padding: 1rem; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height: $input-btn-line-height;
$custom-select-color: $input-color;
$custom-select-disabled-color: $gray-600;
$custom-select-bg: $white;
$custom-select-disabled-bg: $gray-200;
$custom-select-bg-size: 8px 10px; // In pixels because image dimensions
$custom-select-indicator-color: #333;
$custom-select-indicator: str-replace(url('data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'#{$custom-select-indicator-color}\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E'), '#', '%23');
$custom-select-border-width: $input-btn-border-width;
$custom-select-border-color: $input-border-color;
$custom-select-border-radius: $border-radius;
$custom-select-focus-border-color: lighten(theme-color('primary'), 25%);
$custom-select-focus-box-shadow: inset 0 1px 2px rgba($black, 0.075), 0 0 5px rgba($custom-select-focus-border-color, 0.5);
$custom-select-font-size-sm: 75%;
$custom-select-height-sm: $input-height-sm;
$custom-file-height: $input-height;
$custom-file-width: 14rem;
$custom-file-focus-box-shadow: 0 0 0 0.075rem $white, 0 0 0 0.2rem theme-color('primary');
$custom-file-padding-y: $input-btn-padding-y;
$custom-file-padding-x: $input-btn-padding-x;
$custom-file-line-height: $input-btn-line-height;
$custom-file-color: $input-color;
$custom-file-bg: $input-bg;
$custom-file-border-width: $input-btn-border-width;
$custom-file-border-color: $input-border-color;
$custom-file-border-radius: $input-border-radius;
$custom-file-box-shadow: $input-box-shadow;
$custom-file-button-color: $custom-file-color;
$custom-file-button-bg: $input-group-addon-bg;
$custom-file-text: (
  placeholder: (
    en: 'Choose file...'
  ),
  button-label: (
    en: 'Browse'
  )
);


// Form validation
$form-feedback-valid-color: theme-color('success');
$form-feedback-invalid-color: theme-color('danger');

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-header: 5;
$zindex-module: 10;
$zindex-navigation: 15;
$zindex-branding: 15;

// Navs

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.5rem;

// Pagination

$pagination-padding-y: 0.75rem;
$pagination-padding-x: 1.5rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-line-height: 1.25;

$pagination-color: $link-color;
$pagination-bg: none;

$pagination-font-weight: $font-weight-bold;

$pagination-border-width: $border-width;
$pagination-border-color: #ddd;

$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: $gray-200;

$pagination-active-color: $white;
$pagination-active-bg: $primary;

$pagination-disabled-color: lighten($body-color-light, 25%);
$pagination-disabled-bg: none;

// Cards

$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: $border-width;
$card-border-radius: $border-radius;

$card-box-shadow: 0 1px 20px rgba($black,0.05);
$card-box-shadow-sm: 0 1px 10px rgba($black,0.05);
$card-box-shadow-lg: 0 3px 30px rgba($black,0.15);


// Tabs

$tabs-labels-padding-x: $grid-gutter-width * 0.5;
$tabs-labels-padding-y: 0.5rem;
$tabs-label-font-weight: $font-weight-normal;
$tabs-label-color: tint($indigo, 20%);
$tabs-label-hover-color: $white;
$tabs-label-active-color: $white;
$tabs-label-bg: shade($indigo, 30%);
$tabs-label-hover-bg: shade($indigo, 20%);
$tabs-label-active-bg: $indigo;
$tabs-label-padding-x: 1.25rem;
$tabs-label-padding-y: 1rem;
$tabs-label-lineheight: 1;
$tabs-label-transition: color 200ms ease-in, background 200ms ease-in;
$tabs-label-border-radius: $btn-border-radius;
$tabs-content-padding: ($grid-gutter-width * 0.5);
$tabs-content-bg: none;
$tabs-content-border-radius: none;
$tabs-content-box-shadow: none;
$tabs-content-box-shadow-lg: none;

// Badges

$badge-font-size: $font-size-base * 0.625;
$badge-font-weight: $font-weight-bold;
$badge-padding-y: 0.45em;
$badge-padding-x: 0.6em;
$badge-border-radius: $border-radius;

$badge-pill-padding-y: 0.45em;
$badge-pill-padding-x: 0.8em;

// Breadcrumbs

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 0 0.5rem;

$breadcrumb-margin-bottom: $grid-gutter-width * 0.25;

$breadcrumb-bg: none;
$breadcrumb-divider-color: tint($body-color-light, 50%);
$breadcrumb-active-color: tint($body-color-light, 50%);

$breadcrumb-link-color: $primary;
$breadcrumb-font-size: $font-size-base * 0.8;
$breadcrumb-font-weight: $font-weight-semibold;
$breadcrumb-font-variant: normal;
$breadcrumb-text-transform: none;

// Dropdowns
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;
$dropdown-link-disabled-color: $gray-600;

$dropdown-header-color: $gray-600;

$dropdown-min-width: 10rem;
$dropdown-padding-y: 0.5rem;
$dropdown-spacer: 0.125rem;

$dropdown-bg: $white;
$dropdown-border-color: rgba($black,0.15);
$dropdown-border-width: $border-width;

$dropdown-divider-bg: $gray-200;

$dropdown-item-padding-y: 0.25rem;
$dropdown-item-padding-x: 1.5rem;
