%geometry-bg {
    position: relative;

    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        opacity: 0.2;
        background: url(/user/themes/verolingo/images/geometry.png) center center repeat;
        background-size: 512px 512px;
    }
}

%geometry-full-bg {
    @extend %geometry-bg;

    &:before {
        left: 50%;

        width: 100vw;

        transform: translate3d(-50%, 0, 0);
    }
}

%geometry-full-animated-bg {
    @extend %geometry-full-bg;

    overflow: hidden;

    &:before {
        left: 0;

        width: 100%;
        height: 2048px;

        animation: Scroll 60s linear infinite forwards;
    }
}

%primary-radial-bg {
    position: relative;

    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100%;

        content: '';
        transform: skewY(-5deg);
        transform-origin: 50% 50%;

        background: $primary;
        background: scrimRadial('circle at 50% 40%', $yellow, $orange, 'ease-in-out-sine');
    }
}

%light-bg {
    position: relative;

    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        opacity: 1;
        background: $body-bg-light;
    }
}

%light-full-bg {
    @extend %light-bg;

    &:before {
        left: 50%;

        width: 100vw;

        transform: translate3d(-50%, 0, 0);
    }
}
