%dark-fade-down {
    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 50%;

        content: '';

        opacity: 0.2;

        background: scrimLinear('to bottom', $black, transparent, 'ease-in-out-sine');
    }
}

%dark-fade-up {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 25%;

        content: '';

        background: scrimLinear('to top', $body-bg-dark, transparent, 'ease-in-out-sine');
    }
}

%dark-radial-top {
    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vw;

        content: '';

        background: scrimRadial('circle at 50% -50%', $body-bg-dark, transparent, 'ease-in-out-sine');
    }
}

%light-fade-down {
    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 25%;

        content: '';

        background: scrimLinear('to bottom', $body-bg-light, transparent, 'ease-in-out-sine');
    }
}

%light-fade-up {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 25%;

        content: '';

        background: scrimLinear('to top', $body-bg-light, transparent, 'ease-in-out-sine');
    }
}

%light-fade-full {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: scrimLinear('to bottom', $body-bg-light, transparent, 'ease-in-out-sine', 30), scrimLinear('to top', $body-bg-light, transparent, 'ease-in-out-sine', 30);
    }
}

%grey-fade-up {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: scrimLinear('to top', $body-bg, transparent, 'ease-in-out-sine');
    }
}

%grey-fade-down {
    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 25%;

        content: '';

        background: scrimLinear('to bottom', $body-bg, transparent, 'ease-in-out-sine');
    }
}

%grey-fade-full {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: scrimLinear('to bottom', $body-bg, transparent, 'ease-in-out-sine', 25), scrimLinear('to top', $body-bg, transparent, 'ease-in-out-sine', 25);
    }
}

%primary-fade-up {
    &:after {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 50%;

        content: '';

        background: scrimLinear('to top', tint($primary, 15%), transparent, 'ease-in-out-sine');
    }
}

%primary-radial-bg {
    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background: $primary;
        background: scrimRadial('150vmin at 50% -25%', tint($primary, 30%), $primary, 'ease-in-out-sine');
    }
}
