// Bootstrap
@import 'bootstrap/scss/functions';
@import 'functions'; // Custom functions
@import 'configuration'; // Custom configuration
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Bootstrap components
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/utilities';

// Effects
@import 'animations';
@import 'gradients';
@import 'fills';

// Components
@import 'components/typography';
@import 'components/container';
@import 'components/grid';
@import 'components/article';
@import 'components/button';
@import 'components/button-group';
@import 'components/dropdown';
@import 'components/list';
@import 'components/block-list';
@import 'components/badge';
@import 'components/icons';
@import 'components/form';
@import 'components/card';
@import 'components/branding';
@import 'components/menu';
@import 'components/menu-toggle';
@import 'components/offcanvas-menu';
@import 'components/pagination';
@import 'components/dropdown--language';

// Collections
@import 'collections/list';
@import 'collections/tabs';

// Types
@import 'items/post';
@import 'items/section';

// Layouts
@import 'layouts/base';
@import 'layouts/page';

// Modules
@import 'modular/module';
@import 'modular/callout';
@import 'modular/form';
@import 'modular/posts';
@import 'modular/posts--default';
@import 'modular/posts--cards';
@import 'modular/quote';
@import 'modular/sections';
@import 'modular/text';

// Partials
@import 'partials/header';
@import 'partials/footer';
@import 'partials/next-previous';
@import 'partials/get-started';
@import 'partials/share';

// Pages
@import 'pages/error';
@import 'pages/home';
@import 'pages/about';
@import 'pages/services';
@import 'pages/pricing';
@import 'pages/contact';
@import 'pages/blog';
@import 'pages/post';
