// Bootstrap
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/mixins';

// Functions
@import 'functions';
@import 'mixins';

// Configuration
@import 'configuration';

// Bootstrap components
// @import 'bootstrap/scss/root';
@import 'bootstrap/scss/print';
// @import 'bootstrap/scss/reboot';
// @import 'bootstrap/scss/type';
// @import 'bootstrap/scss/images';
// @import 'bootstrap/scss/code';
// @import 'bootstrap/scss/grid';
// @import 'bootstrap/scss/tables';
// @import "bootstrap/scss/forms";
// @import 'bootstrap/scss/buttons';
// @import "bootstrap/scss/transitions";
// @import 'bootstrap/scss/dropdown';
// @import 'bootstrap/scss/button-group';
// @import "bootstrap/scss/input-group";
// @import "bootstrap/scss/custom-forms";
// @import 'bootstrap/scss/nav';
// @import 'bootstrap/scss/navbar';
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import 'bootstrap/scss/jumbotron';
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
// @import 'bootstrap/scss/tooltip';
// @import 'bootstrap/scss/popover';
// @import "bootstrap/scss/carousel";
@import 'bootstrap/scss/utilities';

// Reset
@import 'reset';

// Effects
@import 'animations';
@import 'fills';
@import 'gradients';

// Components
@import 'components/container';
@import 'components/grid';
@import 'components/typography';
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/list';
@import 'components/block-list';
@import 'components/badge';
@import 'components/icons';
@import 'components/form';
@import 'components/breadcrumbs';
@import 'components/card';
@import 'components/indicators';

@import 'components/brand';
@import 'components/menu';
@import 'components/menu-toggle';
@import 'components/offcanvas-menu';
@import 'components/pagination';
@import 'components/dropdown--language';

// Collections
@import 'collections/list';
@import 'collections/tabs';
@import 'collections/carousel';

// Types
@import 'types/feature';
@import 'types/post';

// Layouts
@import 'layouts/base';
@import 'layouts/page';

// Modules
@import 'modular/module';
@import 'modular/blog';
@import 'modular/callout';
@import 'modular/features';
@import 'modular/form';
@import 'modular/quote';
@import 'modular/text';

// Pages
@import 'pages/index';
@import 'pages/about';
@import 'pages/services';
@import 'pages/pricing';
@import 'pages/contact';
@import 'pages/blog';
@import 'pages/post';

// Modular Partials
@import 'pages/partials/get-started';
@import 'pages/partials/blog-default';

// Partials
@import 'partials/header';
@import 'partials/footer';
@import 'partials/next-previous';

// third party
@import 'tiny-slider/src/tiny-slider';
