<footer class="footer footer--{{page.header.footer_style|defined('light')}}">
    <div class="footer__content">
        {% if header.footer_size|defined('full') == 'full' %}
            <h3 class="footer__title">
                Communicate&nbsp;clearly. <span class="font-normal">Clearly&nbsp;communicate.</span>
            </h3>
        {% endif %}
        <nav class="menu menu--contact-list">
            <span class="menu__item address">
                <svg xml:space="preserve" class="icon icon--address" viewBox="0 0 24 24"><use xlink:href="#icon-home" /></svg>
                <span class="address__addr">Saskatoon,&nbsp;Canada</span>
            </span>
        </nav>
        <nav class="menu menu--social-media">
            {% for account in config.social.accounts if account.enabled %}
                {% include 'types/social-link.html.twig' with {classes: 'menu__item'} %}
            {% endfor %}
            <p class="menu__item copyright">
                ©{{ "now"|date("Y") }} Verolingo Communications. All rights reserved.
            </p>
        </nav>
    </div>
</footer>