.blog {
    @extend %module;

    &--stacked-left,
    &--stacked-right {
        @include media-breakpoint-up(lg) {
            flex-direction: row;

            align-items: center;
        }
    }

    &--stacked-left {
        @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;
        }
    }

    &__content {
        @extend %module-content;
        @include media-breakpoint-up(sm) {
            text-align: center;
        }

        margin-bottom: 1rem;
    }

    &__title {
        @extend %module-title;

        text-align: center;

        align-items: center;
    }

    &--stacked-left &__content,
    &--stacked-right &__content {
        @include media-breakpoint-up(md) {
            align-items: flex-start;
        }
        @include media-breakpoint-up(lg) {
            max-width: $grid-max-md;
            margin-right: 0;
            margin-left: 0;

            text-align: left;

            flex: 0 1 55%;
        }
        @include media-breakpoint-up(xl) {
            flex: 0 1 50%;
        }

        align-items: center;
    }

    &--stacked-left &__content {
        @include media-breakpoint-up(md) {
            margin-right: auto;
            padding-left: ($grid-gutter-width / 2);
        }
    }

    &--stacked-right &__content {
        @include media-breakpoint-up(md) {
            margin-left: auto;
            padding-right: ($grid-gutter-width / 2);
        }
    }

    .list--blog {
        @extend %module-content;
        @extend %list;
        @include media-breakpoint-up(md) {
            justify-content: stretch;
        }

        overflow: visible;

        max-width: $grid-max-xl;

        justify-content: center;
        align-items: stretch;
    }

    &--full-width .list--blog {
        flex-direction: row;

        width: auto;
        margin-right: ($grid-gutter-width / -2);
        margin-left: ($grid-gutter-width / -2);
    }

    &--stacked-left .list--blog,
    &--stacked-right .list--blog {
        @include media-breakpoint-up(sm) {
            margin-right: auto;
            margin-left: auto;
        }
        @include media-breakpoint-up(lg) {
            max-width: ($grid-max-lg - $grid-gutter-width) * 0.45;

            flex: 1 1 45%;
        }
        @include media-breakpoint-up(xl) {
            max-width: ($grid-max-xl - $grid-gutter-width) * 0.5;

            flex: 1 1 50%;
        }

        flex-direction: column;

        max-width: $grid-max-sm;
    }

    &--stacked-left .list--blog {
        @include media-breakpoint-up(lg) {
            margin-right: ($grid-gutter-width / -2);
            margin-left: auto;
        }
    }

    &--stacked-right .list--blog {
        @include media-breakpoint-up(lg) {
            margin-right: auto;
            margin-left: ($grid-gutter-width / -2);
        }
    }

    .pagination {
        width: auto;
        margin-right: ($grid-gutter-width / -2);
        margin-bottom: 0;
        margin-left: ($grid-gutter-width / -2);
    }
}
