.callout {
    @extend %module;

    &__body {
        @extend %module-content;

        max-width: $grid-max-md;

        text-align: center;
    }

    &__title {
        @extend %module-title;
    }

    &__buttons {
        @extend %module-content;

        flex-direction: row;

        margin: $grid-gutter-width auto 0;

        flex-wrap: wrap;

        [class^=button] {
            margin: 0.5rem;

            flex: 0 0 auto;
        }
    }
}
