.features {
    @extend %module;

    &--stacked-left,
    &--stacked-right {
        @include media-breakpoint-up(lg) {
            flex-direction: row;

            align-items: center;
        }
    }

    &--stacked-left {
        @include media-breakpoint-up(lg) {
            flex-direction: row-reverse;
        }
    }

    &__content {
        @extend %module-content-narrow-fluid;
        @include media-breakpoint-up(sm) {
            text-align: center;
        }

        margin-bottom: 3rem;
    }

    &__title {
        @extend %module-title;

        text-align: center;

        align-items: center;
    }

    &__body {
        max-width: 100%;

         > :last-child {
            margin-bottom: 0;
        }
    }

    &--stacked-left &__content,
    &--stacked-right &__content {
        @include media-breakpoint-up(sm) {
            margin-right: auto;
            margin-left: auto;

            align-items: flex-start;
        }
        @include media-breakpoint-up(lg) {
            max-width: $grid-max-lg * 0.55;

            text-align: left;

            flex: 0 1 55%;
        }
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl * 0.5;

            flex: 0 1 50%;
        }

        max-width: $grid-max-sm;

        align-items: center;
    }

    &--stacked-left &__content {
        @include media-breakpoint-up(lg) {
            margin-left: 0;
            padding-left: ($grid-gutter-width / 2);
        }
    }

    &--stacked-right &__content {
        @include media-breakpoint-up(lg) {
            margin-right: 0;
            padding-right: ($grid-gutter-width / 2);
        }
    }

    .list--features,
    .tabs--features {
        @extend %module-content-fluid;

        overflow: visible;
    }

    .list--features {
        @extend %list;
        @include media-breakpoint-up(md) {
            justify-content: stretch;
        }

        max-width: $grid-max-xl;

        justify-content: center;
        align-items: stretch;
    }

    &--full-width .list--features,
    &--full-width .tabs--features {
        flex-direction: row;

        width: auto;
        margin-right: ($grid-gutter-width / -2);
        margin-left: ($grid-gutter-width / -2);
    }

    &--stacked-left .list--features,
    &--stacked-left .tabs--features,
    &--stacked-right .list--features,
    &--stacked-right .tabs--features {
        @include media-breakpoint-up(sm) {
            margin-right: auto;
            margin-left: auto;
        }
        @include media-breakpoint-up(lg) {
            max-width: ($grid-max-lg - $grid-gutter-width) * 0.45;

            flex: 1 1 45%;
        }
        @include media-breakpoint-up(xl) {
            max-width: ($grid-max-xl - $grid-gutter-width) * 0.5;

            flex: 1 1 50%;
        }

        flex-direction: column;

        max-width: $grid-max-sm;
    }

    &--stacked-left .list--features,
    &--stacked-left .tabs--features {
        @include media-breakpoint-up(lg) {
            margin-right: ($grid-gutter-width / 2);
        }
    }

    &--stacked-right .list--features,
    &--stacked-right .tabs--features {
        @include media-breakpoint-up(lg) {
            margin-left: ($grid-gutter-width / 2);
        }
    }

    &--carousel {
        .feature {
            max-width: 100vw;
        }
    }
}
