.form {
    @extend %module;

    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &--left,
    &--right {
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }

    &__body {
        @extend %module-content;
        @include media-breakpoint-up(md) {
            max-width: $grid-max-md;
        }
        @include media-breakpoint-up(lg) {
            max-width: $grid-max-lg;
        }
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }

        width: 100%;

        padding-top: $grid-gutter-width * 0.75;
        padding-bottom: $grid-gutter-width * 0.75;

        flex: 0 1 100%;
    }

    &--left &__body,
    &--right &__body {
        @include media-breakpoint-up(lg) {
            width: $grid-max-lg * 0.35;

            margin-right: auto;
            margin-left: auto;

            flex: 0 1 $grid-max-lg * 0.35;

            text-align: left;
        }
        @include media-breakpoint-up(xl) {
            width: $grid-max-xl * 0.40;

            flex: 0 1 $grid-max-xl * 0.40;
        }

        text-align: center;
    }

    &--left &__body {
        @include media-breakpoint-up(lg) {
            margin-left: $grid-gutter-width;
        }
    }

    &--right &__body {
        @include media-breakpoint-up(lg) {
            margin-right: $grid-gutter-width;
        }
    }


    &__title {
        align-self: center;
    }

    &--left &__title,
    &--right &__title {
        @include media-breakpoint-up(lg) {
            align-self: flex-start;
        }
    }

    &__panel {
        @include media-breakpoint-up(sm) {
            width: 100%;

            margin-right: auto;
            margin-left: auto;
        }
        @include media-breakpoint-up(md) {
            max-width: $grid-max-md;
        }

        position: relative;

        overflow: visible;

        width: auto;

        margin-right: $grid-gutter-width * -0.75;
        margin-left: $grid-gutter-width * -0.75;

        flex: 1 1 100%;
    }

    &--left &__panel,
    &--right &__panel {
        @include media-breakpoint-up(lg) {
            width: $grid-max-lg * 0.6;

            flex: 0 1 $grid-max-lg * 0.6;
        }
        @include media-breakpoint-up(xl) {
            width: $grid-max-xl * 0.55;

            flex: 0 1 $grid-max-xl * 0.55;
        }
    }

    &--left &__panel {
        @include media-breakpoint-up(lg) {
            margin-right: 0;
        }
    }

    &--right &__panel {
        @include media-breakpoint-up(lg) {
            margin-left: 0;
        }
    }
}
