%module {
    @extend %container;
    @include media-breakpoint-up(md) {
        padding-top: $grid-gutter-width * 1.5;
        padding-bottom: $grid-gutter-width * 1.5;
    }
    @include media-breakpoint-up(xl) {
        padding-top: $grid-gutter-width * 2;
        padding-bottom: $grid-gutter-width * 2;
    }

    position: relative;
    z-index: 1;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 100%;

    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    background: $body-bg;

    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    > :last-child {
        margin-bottom: 0;
    }
}

%module-content-base {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;

    img {
        margin: 1rem auto;
    }

     > :last-child {
        margin-bottom: 0;
    }
}

%module-content {
    @extend %module-content-base;
}

%module-content-narrow {
    @extend %module-content-base;
    @include media-breakpoint-up(lg) {
        width: $grid-max-md;
    }
    @include media-breakpoint-up(xxl) {
        width: $grid-max-lg;
    }
}

%module-title {
    @include media-breakpoint-up(sm) {
        letter-spacing: normal;
    }

    line-height: 1.1;

    display: flex;
    flex-direction: column;

    align-items: center;

    .title__text {
        display: inline-block;
    }

    .title__icon {
        @include section-icon($h1-font-size * 1.25, $white, $secondary);

        font-variant: normal;

        flex: 0 0 auto;
    }
}
