%posts--default {
    .post {
        @extend %rounded-raised-card;
        @extend %actionable-card;

        position: relative;

        color: $white;
        text-shadow: 1px 1px 0.3rem rgba($black, 0.4);

        &--flat {
            color: $body-color;
            text-shadow: none;
        }

        &__title {
            @include media-breakpoint-up(md) {
                padding-right: 2em;
                padding-left: 2em;
            }

            font-weight: $font-weight-bold;
        }

        &__image {
            @include media-breakpoint-up(md) {
                height: 24rem;
            }

            z-index: -1;

            position: absolute;
            top: 0;
            left: 0;

            height: 20rem;
            width: auto;

            margin: 0;

            img {
                width: auto;
                height: 150%;
            }
        }

        &__body {
            z-index: 1;

            position: relative;

            padding-top: $grid-gutter-width * 0.5;

            background: $white;

            text-shadow: none;

            &:before {
                content: '';

                background: $white;

                z-index: -1;

                position: absolute;
                top: 0;
                left: 50%;

                width: 200%;
                height: 200%;

                transform: translate3d(-50%, #{$grid-gutter-width * -0.25}, 0);
            }
        }

        &__continue {
            z-index: 2;

            text-shadow: none;

            [class^=button] {
                color: inherit;
            }
        }
    }
}

.posts--default {
    @extend %posts--default;
}
