%posts--cards {
    .post {
        @extend %rounded-raised-card;
        @extend %actionable-card;

        position: relative;

        &--flat {
            color: $body-color;
            text-shadow: none;
        }

        color: $white;
        text-shadow: 1px 1px 0.3rem rgba($black, 0.4);

        padding-bottom: $grid-gutter-width * 1.25;

        &__title {
            font-weight: $font-weight-bold;

            margin-bottom: 0.33em;
        }

        &__meta {
            color: $gray-300;
            text-shadow: 1px 1px 0.3em rgba($black, 0.8);

            margin-top: 0;
            margin-bottom: 1rem;

            .date,
            .author {
                color: inherit;
            }
        }

        &--flat .post__meta {
            color: $body-color-light;
            text-shadow: none;
        }

        &__tags {
            z-index: 2;

            margin-top: 0;
            margin-bottom: 1rem;
        }

        &__body {
            display: none;
        }


        &__image {
            @extend %dark-fade-down;

            z-index: -1;

            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            margin: 0;

            img {
                height: 125%;
                width: auto;
            }
        }

        &__continue {
            position: absolute;
            top: 0;
            left: 0;

            z-index: 1;

            height: 100%;
            width: 100%;

            justify-content: flex-end;

            color: inherit;

            [class^=button] {
                color: inherit;

                margin: 1em auto;
            }
        }
    }
}

.posts--cards {
    @extend %posts--cards;
}
