.quote {
    @extend %module;

    text-align: center;

    justify-content: center;
    align-items: center;

    &__title,
    &__text,
    &__author,
    &__addendum {
        @extend %module-content;

        z-index: 1;

        max-width: $grid-max-md;
        padding: 0;

        &:first-child {
            margin-top: $grid-gutter-width;
        }

        &:last-child {
            margin-bottom: $grid-gutter-width;
        }
    }

    &__title {
        @extend %module-title;
    }

    &__text {
        border: none;

        margin-bottom: $grid-gutter-width * 0.25;
    }

    &__author {
        font-weight: $font-weight-bold;
    }

    &__addendum {
        margin-top: $grid-gutter-width;
    }
}
