.blog--default {
    @extend %dark-fade-up-fg;

    position: relative;

    background: none;

    .blog__title {
        flex-direction: row;

        justify-content: center;
        .title__icon {
            @include simple-feature-icon(30px, $body-bg-light, $secondary);

            margin-right: 0.4em;
        }
    }

    .list--blog {
        justify-items: stretch;
        align-items: space-between;
    }

    .post {
        @include media-breakpoint-up(md) {
            min-width: $grid-max-sm;
        }
        @include media-breakpoint-up(lg) {
            min-width: 0;
        }

        padding: ($grid-gutter-width / 2);
    }

    .post__content {
        @extend %card-raised;

        position: relative;
        z-index: 1;

        height: 100%;
    }

    .post__header {
        @include media-breakpoint-up(md) {
            height: 12rem;
        }
        @include media-breakpoint-up(xl) {
            height: 14rem;
        }

        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        width: auto;
        width: 100%;
        height: 10rem;
        margin: 0;

        order: 100;

        &--image {
            @extend %light-fade-down-fg;
            &:after {
                height: 60%;
            }
        }

        &--empty {
            @extend %geometry-bg;
            @extend %light-fade-full-fg;

            &:before {
                height: 2048px;

                animation: Scroll 60s linear infinite forwards;
            }
        }
    }

    .post:nth-child(2) {
        .post__header--empty:before {
            animation-delay: -10s;
        }
    }
    .post:nth-child(3) {
        .post__header--empty:before {
            animation-delay: -25s;
        }
    }
    .post:nth-child(4) {
        .post__header--empty:before {
            animation-delay: -40s;
        }
    }
    .post:nth-child(5) {
        .post__header--empty:before {
            animation-delay: -55s;
        }
    }

    .post__posted {
        margin-bottom: ($grid-gutter-width / 2);

        flex-wrap: wrap;
    }

    .post__tags {
        margin-bottom: ($grid-gutter-width / 2);
    }

    .post__body {
        margin-top: auto;
    }

    .post__continue {
        @include media-breakpoint-up(md) {
            padding-bottom: 6rem;
        }
        @include media-breakpoint-up(xl) {
            padding-bottom: 8rem;
        }

        padding-bottom: 4rem;
    }
}
