<div style="line-height:20px;font-size:20px;">&nbsp;</div>
<h1 class="size-32" style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #ef5700;font-size: 28px;line-height: 36px;text-align: center;" lang="x-size-32">Thanks for your inquiry!</h1>

<div style="font-size: 12px;font-style: normal;font-weight: normal;" align="left">
    <h2 class="size-20" style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #777777;font-size: 18px;line-height: 24px;text-align: center;" lang="x-size-20">
        We strive to respond within two business days.
    </h2>
    <p class="size-17" style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;text-align: center;" lang="x-size-17">
        If your project is urgent, please call us at <a href="tel:13062204360">1.306.220.4360</a>.<br>
        We look forward to the opportunity of working with you.

        <br><br>

        Véronique Loewen<br>
        Translator<br>
        Verolingo Communications<br>
        <a href="mailto:info@verolingo.com">info@verolingo.com</a><br>
        <a href="http://www.verolingo.com">www.verolingo.com</a><br>
    </p>
</div>
<div style="line-height:20px;font-size:20px;">&nbsp;</div>
