.footer {
    @extend %module;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    align-items: center;

    text-align: center;

    &--light {
        @extend .footer;
        @extend %geometry-bg;
        @extend %grey-fade-down;

        color: $body-color;
        background: $body-bg;
    }

    &--dark {
        @extend .footer;

        color: $white;
        background: shade($secondary, 40%);
    }

    > :last-child {
        margin-bottom: 0;
    }

    &__title {
        line-height: 1.75rem;

        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .address {
        font-weight: $font-weight-normal;

        margin: 0 auto 2rem;

        align-items: center;
        justify-content: center;

        display: flex;
        flex-direction: row;

        margin: 0.25rem 2rem;
        padding: 0;

        .icon {
            width: $font-size-base;
            height: $font-size-base;

            margin: 0.1rem 0.5rem 0;

            fill: currentColor;
        }
    }

    .copyright {
        margin-top: 0.25rem;
    }
}

.menu--social-media {
    @extend .menu;

    display: flex;
    flex-direction: row-reverse;

    width: auto;
    margin: 1rem auto 0;

    font-weight: $font-weight-normal;
    text-transform: none;

    justify-content: center;
    align-items: center;

    .social-link {
        margin: 0 0 0 0.5rem;

        &__icon {
            width: $h5-font-size;
            height: $h5-font-size;

            fill: currentColor;
        }
    }
}
