.footer {
    @extend %geometry-bg;
    @extend %grey-fade-down-fg;
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    display: flex;
    overflow: hidden;
    flex-direction: column;

    max-width: 100%;
    padding: ($grid-gutter-width * 1.5) ($grid-gutter-width / 2);

    color: $body-color;
    background: $body-bg;

    align-items: stretch;

    &--dark {
        color: $white;
        background: shade($secondary, 40%);

        &:before,
        &:after {
            display: none;
        }
    }

    &__content {
        @extend %module-content;

        width: 100%;
        max-width: $grid-max-md;

        text-align: center;

        flex: 1 0 auto;

         > :last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        line-height: 1.75rem;

        margin-top: 0.5rem;
        margin-bottom: 0;
    }

    .menu--contact-list {
        @include media-breakpoint-up(sm) {
            flex-direction: row;

            flex-wrap: nowrap;
        }

        font-weight: $font-weight-normal;

        flex-direction: column;

        margin: 0 auto 2rem;
        padding: 0;

        align-items: center;
        justify-content: center;

        .menu__item {
            display: flex;
            flex-direction: row;

            margin: 0.25rem 2rem;
            padding: 0;

            border-bottom: 1px solid transparent;

            &--link:hover {
                color: $primary;

                text-decoration: none;
            }
        }

        .icon {
            width: 20px;
            height: 20px;

            margin: 0.1rem 0.5rem 0;

            fill: currentColor;
        }
    }

    .menu--social-media {
        display: flex;
        flex-direction: row-reverse;

        width: auto;
        margin: 1rem auto 0;

        font-weight: $font-weight-normal;
        text-transform: none;

        justify-content: center;
        align-items: center;

        .social-link {
            margin: 0 0 0 0.5rem;

            &__icon {
                width: 24px;
                height: 24px;

                fill: currentColor;
            }

            &:last-child {
                flex: 1 1 100%;
                margin-top: 0.25rem;

                @include media-breakpoint-up(sm) {
                    flex: 0 0 auto;

                    margin-right: 1rem;
                }
            }
        };
    }

    .copyright {
        font-size: 0.85rem;

        margin-top: 0.25rem;
    }
}
