.header {
    @extend %module;
    @include media-breakpoint-up(md) {
        padding-top: 20rem;
    }
    @include media-breakpoint-up(xl) {
        padding-top: 24rem;
    }

    &--dark {
        color: $body-color;
    }

    overflow: visible;

    height: auto;
    min-height: 95vh;

    padding-top: 16rem;

    color: $white;

    &__showcase {
        z-index: -1;

        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        overflow: hidden;

        width: 100vw;

        height: auto;
        max-height: 125vh;

        pointer-events: none;

        img {
            @include media-breakpoint-up(md) {
                width: 175vw;
                height: auto;
            }
            @include media-breakpoint-up(lg) {
                width: 150vw;
                height: auto;
            }
            @include media-breakpoint-up(xl) {
                width: 125vw;
                height: auto;
            }
            @include media-breakpoint-up(xxl) {
                width: 100vw;
                height: auto;
            }
            @media (orientation: portrait){
                width: auto;
                height: 95vh;
            }
        }
    }

    &--left &__showcase {
        @include media-breakpoint-up(md) {
            transform: matrix(1, -0.140541, 0, 1, 0, 0);
            transform-origin: top left;
        }

        img {
            @include media-breakpoint-up(md) {
                transform: matrix(1, 0.140541, 0, 1, 0, 0);
                transform-origin: bottom center;
            }
        }
    }

    &--right &__showcase {
        @include media-breakpoint-up(md) {
            transform: matrix(1, 0.140541, 0, 1, 0, 0);
            transform-origin: top right;
        }

        img {
            @include media-breakpoint-up(md) {
                transform: matrix(1, -0.140541, 0, 1, 0, 0);
                transform-origin: bottom center;
            }
        }
    }

    &__body {
        @extend %container-fluid;

        color: inherit;

        text-align: center;

        max-width: $grid-max-md;

        padding-left: 0;
        padding-right: 0;
    }

    &--left &__body,
    &--right &__body {
        text-align: left;
        align-items: flex-start;

        margin-right: 0;
        margin-left: 0;

        .title__page {
            text-indent: 0.2em;
        }
    }

    &--left &__body {
        @include media-breakpoint-up(lg) {
            transform: translate3d(-#{($grid-max-lg - $grid-max-md - $grid-gutter-width) / 2}, 0, 0);
        }
        @include media-breakpoint-up(xl) {
            transform: translate3d(-#{($grid-max-xl - $grid-max-md - $grid-gutter-width) / 2}, 0, 0);
        }
    }

    &--right &__body {
        @include media-breakpoint-up(lg) {
            transform: translate3d(#{($grid-max-lg - $grid-max-md - $grid-gutter-width) / 2}, 0, 0);
        }
        @include media-breakpoint-up(xl) {
            transform: translate3d(#{($grid-max-xl - $grid-max-md - $grid-gutter-width) / 2}, 0, 0);
        }
    }

    &__title {
        margin-bottom: $headings-margin-bottom;

        .title__page {
            font-weight: $font-weight-bold;
            line-height: 1;

            margin-bottom: 0;

            text-transform: uppercase;
            text-shadow: none;

            color: shade($orange, 35%);
        }

        .title__subtitle {
            @include media-breakpoint-up(sm) {
                font-size: $h1-font-size * 1.15;
            }
            @include media-breakpoint-up(md) {
                font-size: $h1-font-size * 1.25;
            }
            @include media-breakpoint-up(lg) {
                font-size: $h1-font-size * 1.35;
            }
            @include media-breakpoint-up(xl) {
                font-size: $h1-font-size * 1.45;
            }

            font-size: $h1-font-size * 0.85;
            font-size: calc(#{$h1-font-size * 0.85} + 1vw);
            line-height: 1.1;

            margin-bottom: 0;
        }
    }

    &--dark &__title {
        .title__page {
            color: $tertiary;
        }
    }

    &__buttons {
        margin-top: 5rem;
        justify-self: flex-end;

        text-align: center;

        > * {
            margin: 0.4em;
        }
    }
}
