.next-previous {
    display: flex;
    flex-direction: row;

    padding: $grid-gutter-width;

    box-shadow: $card-box-shadow;

    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    .next,
    .previous {
        @include media-breakpoint-up(md) {
            flex-direction: row;

            width: 50%;
        }

        display: inline-flex;
        flex-direction: column;

        max-width: 100%;

        text-align: center;

        background: $body-bg-light;

        align-items: stretch;
        flex: 1 0 auto;

        &__tab {
            @include media-breakpoint-up(md) {
                width: 36px;
                height: 100%;
            }

            position: relative;

            display: flex;
            overflow: hidden;

            width: 100%;
            height: 36px;
            padding: 8px;

            color: $gray-300;
            background: $link-disabled-color;

            justify-content: center;
            align-items: center;
            flex: 0 0 auto;

            &:before {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;

                display: block;

                width: 100%;
                height: 100%;

                content: '';
                transition: transform 0.5s, opacity 1s;
                transform: scale(10,10);
                pointer-events: none;

                opacity: 0;
                background: radial-gradient(circle, color-yiq($link-color) 10%, transparent 10.01%);
            }
        }

        &__content {
            @include media-breakpoint-up(md) {
                padding: ($grid-gutter-width / 2);
            }

            display: flex;
            flex-direction: column;

            padding: ($grid-gutter-width / 3) ($grid-gutter-width / 2);

            justify-content: flex-start;
        }

        &__text {
            font-weight: $font-weight-bold;
            font-variant: small-caps;

            text-transform: lowercase;
        }

        &__title {
            @include media-breakpoint-up(md) {
                font-size: $h5-font-size;
            }

            font-size: ($h5-font-size * 0.85);
            line-height: $headings-line-height;

            display: block;

            margin-bottom: auto;

            color: $body-color-light;
        }

        &[disabled],
        &.disabled {
            opacity: 0.4;
        }

        &:not([disabled]):not(.disabled) {
            .next__tab,
            .previous__tab {
                color: $link-color;
                background: tint($link-color, 40%);
            }
        }

        &:not([disabled]):not(.disabled):hover {
            z-index: 1;

            text-decoration: none;

            background: $white;
            box-shadow: $card-box-shadow;

            .next__tab,
            .previous__tab {
                color: $link-hover-color;
                background: tint($link-color, 20%);
            }

            .next__text,
            .previous__text {
                text-decoration: underline;
            }

            .next__title,
            .previous__title {
                color: $body-color;
            }
        }

        &:not([disabled]):not(.disabled):active {
            .next__tab,
            .previous__tab {
                color: $link-active-color;
                background: tint($link-color, 5%);

                &:before {
                    transition: 0s;
                    transform: scale(0,0);

                    opacity: 0.2;
                }
            }
        }
    }

    .next {
        @include media-breakpoint-up(md) {
            text-align: right;

            border-top: none;
        }

        border-top: $border-width solid $body-bg-dark;

        justify-content: flex-end;

        &__tab {
            &:after {
                @include media-breakpoint-up(md) {
                    content: '→';
                }

                content: '↓';
            }
        }

        &__content {
            @include media-breakpoint-up(md) {
                flex-direction: column;
            }

            flex-direction: column-reverse;
        }
    }

    .previous {
        @include media-breakpoint-up(md) {
            text-align: left;
        }

        justify-content: flex-start;

        &__tab {
            &:after {
                @include media-breakpoint-up(md) {
                    content: '←';
                }

                content: '↑';
            }
        }
    }
}
