.next-previous {
    @extend %module;

    padding-top: 0;
    padding-bottom: 0;

    &__nav {
        @extend %module-content;

        max-width: $grid-max-xl - ($grid-gutter-width * 2);

        margin: 0;

        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        flex-wrap: wrap;
    }

    .next,
    .previous {
        @include media-breakpoint-up(md) {
            flex: 0 0 33.3%;

            padding: $grid-gutter-width * 0.5;
        }

        border: 2px solid rgba($body-color, 0.025);

        color: $body-color;

        padding: $grid-gutter-width * 0.25;

        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        text-align: center;

        flex: 0 0 48%;

        margin: #{$grid-gutter-width * 0.125} 0;

        &[disabled],
        &.disabled {
            opacity: 0.4;

            color: $body-color-light;
        }

        &:not([disabled]):not(.disabled):hover {
            text-decoration: none;
        }

        &__text {
            font-weight: $font-weight-semibold;
            font-variant: small-caps;

            text-transform: lowercase;

            margin-bottom: 0.2em;
        }

        &:not([disabled]):not(.disabled) .next__text,
        &:not([disabled]):not(.disabled) .previous__text {
            color: $yellow;
        }

        &__title {
            font-size: 0.675em;
            font-weight: $font-weight-bold;
            line-height: $line-height-base;

            display: block;

            margin-bottom: auto;
        }
    }
}
