#page--about {
    background: tint($primary, 15%);

    .header {
        background: tint($primary, 15%);

        min-height: 80vh;

        &__showcase {
            @extend %primary-fade-up;
        }
    }
}

.sections--about-our-name {
    background: none;

    .sections__body {
        color: $white;
    }

    .list--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }
    }

    .section__title {
        align-self: flex-start;
        justify-content: flex-start;

        margin-bottom: 0;

        color: $primary;

        & + * {
            color: $body-color;

            font-weight: $font-weight-bold;
        }
    }
}

.sections--about-commitments {
    @extend %dark-radial-top;

    .button-group {
        .label__icon {
            display: none;
        }
    }

    .tabs--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }
    }

    .section {
        @include media-breakpoint-up(md) {
            text-align: left;

            flex-direction: row-reverse;
        }

        text-align: center;
    }

    .section__body {
        @include media-breakpoint-up(md) {
            align-items: flex-start;
        }

        z-index: 1;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    .section__title {
        flex-direction: row;

        justify-content: center;

        .title__icon {
            @include section-icon(1.25em, $body-color);

            margin-bottom: 0;
        }
    }

    .section__image {
        @include media-breakpoint-up(md) {
            justify-content: flex-end;

            flex: 1 0 30%;
        }

        position: relative;

        flex: 0 0 auto;

        img {
            width: 75vw;
            max-width: 32rem;
        }
    }
}

.sections--our-clients {
    @extend %primary-radial-bg;

    color: $white;

    .title__icon {
        background: $orange;
    }

    .list--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }

        justify-content: center;

        flex-direction: row;
    }

    .section {
        @include media-breakpoint-up(md) {
            margin-top: $grid-gutter-width * 0.25;
            margin-bottom: $grid-gutter-width * 0.25;
        }

        flex-direction: column;
    }

    .section__body {
        display: none;
    }

    .section__image {
        height: auto;

        width: 100%;
        max-width: 10rem;

        img {
            border-radius: 50%;
            box-shadow: $card-box-shadow-lg;
        }
    }
}

.sections.sections--who-is-veronique {
    background: $body-bg-light;

    padding-bottom: $grid-gutter-width * 0.5;

    .list--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }
    }

    .section {
        flex-direction: column-reverse;

        justify-content: center;
        align-items: center;
    }

    .section:first-child {
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }

        .section__image {
            align-self: center;
        }
    }

    .section:last-child {
        @include media-breakpoint-up(md) {
            flex-direction: row-reverse;
        }

        .section__image {
            @include media-breakpoint-up(lg) {
                display: flex;
            }

            display: none;
        }
    }

    .section:nth-child(2) {
        @extend %grey-fade-full;
        @extend %dark-radial-top;

        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;

        &:after,
        &:before {
            position: absolute;

            z-index: -1;

            width: 100vw;
            height: 100%;

            top: 0;
            left: 50%;

            transform: translate3d(-50%, 0, 0);
        }

        &:after {
            z-index: -2;
        }
    }

    .section__body{
        @include media-breakpoint-up(lg) {
            padding: $grid-gutter-width * 0.5;
        }

        max-width: $grid-max-md;

        padding: 0 ($grid-gutter-width * 0.125);

        align-self: center;

        * {
            line-height: $line-height-base;
        }
    }

    .section__title {
        display: none;
    }

    .section__image {
        padding: ($grid-gutter-width * 0.5);

        align-self: flex-end;

        overflow: hidden;

        img {
            min-width: 20rem;
            max-width: 26rem !important;

            width: 45vw;
        }
    }
}

.quote--a-well-formed-thought {
    @extend %geometry-full-animated-bg;
    @extend %light-fade-down;

    .quote__text {
        color: $primary;
    }
}
