#page--blog {
    background: $body-bg;

    .header {
        padding-bottom: 0;
    }

    .header__showcase {
        @extend %grey-fade-up-fg;

        background: $body-bg;

        &:after {
            z-index: 1;
        }
    }

    .header__image {
        filter: saturate(0.80) brightness(1.05);
    }

    .header__content {
        min-height: 0;

        color: $body-color;
    }

    .header__logo {
        opacity: 0.05;

        fill: $body-color;
    }

    .title__page {
        color: $tertiary;
    }

    .title__subtitle--taxonomy {
        text-transform: capitalize;
    }

    .blog-taxonomy {
        font-weight: $font-weight-bold;
        font-variant: small-caps;
        line-height: 1;

        display: block;

        margin-top: -0.3rem;

        text-transform: lowercase;

        color: $secondary;
    }

    .blog--blog {
        background: none;
    }

    .list--blog {
        @include media-breakpoint-up(lg) {
            max-width: ($grid-max-lg - $grid-gutter-width);
            margin: 0 auto;
        }
    }

    .post {
        @extend %card-raised;

        padding: 0;

        transition: box-shadow 300ms ease-out;

        &:hover {
            box-shadow: $card-box-shadow-lg;
        };

        &:not(:last-child) {
            @include media-breakpoint-up(lg) {
                margin-bottom: ($grid-gutter-width * 2);
            }

            margin-bottom: ($grid-gutter-width * 1.5);
        }

        .post__content {
            @include media-breakpoint-up(lg) {
                padding-bottom: $grid-gutter-width;
            }

            overflow: hidden;

            max-width: 100%;
        }

        .post__header {
            &--image {
                @extend %light-fade-up-fg;
                @include media-breakpoint-up(sm) {
                    height: 14rem;
                }
                @include media-breakpoint-up(md) {
                    height: 16rem;
                }
                @include media-breakpoint-up(lg) {
                    height: 18rem;
                }
                @include media-breakpoint-up(xl) {
                    height: 20rem;
                }

                z-index: 0;

                width: auto;
                height: 12rem;
                margin-top: ($grid-gutter-width / -2);
                margin-right: ($grid-gutter-width / -2);
                margin-left: ($grid-gutter-width / -2);

                order: -2;
            }
        }
    }
}
