#page--blog {
    .header {
        min-height: 0;

        &__showcase {
            @extend %grey-fade-up;
        }
    }

    .title__subtitle--taxonomy {
        text-transform: capitalize;
    }

    .blog-taxonomy {
        font-weight: $font-weight-bold;
        font-variant: small-caps;
        line-height: 1;

        display: block;

        margin-top: -0.3rem;

        text-transform: lowercase;

        color: $secondary;
    }

    .posts {
        background: none;

        padding-top: 0;

        .list--posts {
            @extend %posts--default;

            max-width: $grid-max-lg;
        }

        .post {
            @include media-breakpoint-up(md) {
                margin-bottom: $grid-gutter-width;
            }
        }
    }
}
