#page--contact {
    background: tint($primary, 15%);

    .header {
         background: tint($primary, 15%);

         min-height: 80vh;

        &__showcase {
            @extend %primary-fade-up;
        }
    }
}

.form--contact-form {
    background: none;

    padding-top: 0;
}

.callout--want-to-chat {
    color: $white;
    background: tint($primary, 15%);
}
