.page--post {
    .header {
        overflow: hidden;

        &--flat {
            min-height: 0;
        }

        &--with-image {
            color: $white;
            text-shadow: 1px 1px 0.25rem rgba($black, 0.3);
        }

        &__showcase {
            &:after {
                content: '';

                position: absolute;

                bottom: 0;
                left: 0;

                width: 100%;
                height: 80vh;

                background: scrimLinear('to top', rgba($black, 0.4), transparent, 'ease-in-out-sine');
            }
        }

        &__body {
            max-width: $grid-max-lg;
        }
    }

    > .post {
        margin: 0;

        width: 100%;

        .post__tags {
            .tag {
                background: $tertiary;
            }
        }

        .post__body {
            @extend %container;
            @include media-breakpoint-up(xl) {
                max-width: $grid-max-xl;

                margin-top: $grid-gutter-width * 2;
            }

            z-index: 1;

            justify-content: center;
            align-items: center;

            margin-top: $grid-gutter-width;
            margin-bottom: 0;

            overflow: visible;
        }
    }
}

.posts--related {
    @extend %geometry-full-animated-bg;
    @extend %grey-fade-full;

    .post__body {
        display: none;
    }
}
