.page--post {
    @include media-breakpoint-up(sm) {
        padding-top: 10rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 12rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 14rem;
    }

    padding-top: 8rem;

    background: scrimRadial('circle at 50% 100%', $body-bg-dark, transparent, 'ease-in-out-linear');

    .breadcrumbs {
        margin-right: ($grid-gutter-width / -2);
        margin-left: ($grid-gutter-width / -2);
    }

    .content {
        .post__content {
            max-width: $grid-max-xl;
            padding: 0;
        }

        .post__title {
            @include media-breakpoint-up(sm) {
                font-size: $h1-font-size * 1.15;
            }
            @include media-breakpoint-up(md) {
                font-size: $h1-font-size * 1.35;
            }
            @include media-breakpoint-up(lg) {
                font-size: $h1-font-size * 1.4;
            }
            @include media-breakpoint-up(xl) {
                font-size: $h1-font-size * 1.45;
            }

            font-size: $h1-font-size * 0.8;
            font-weight: $font-weight-bold;
            line-height: 1.25;

            z-index: 1;

            padding-right: 0;
            padding-left: 0;
        }

        .post__posted {
            margin-bottom: ($grid-gutter-width / 2);
        }

        .post__tags {
            .tag {
                background: $secondary;
            }
        }

        .post__header {
            @include media-breakpoint-up(md) {
                margin: 0;
            }

            position: relative;
            z-index: 0;
            left: 50%;

            width: 100vw;
            margin: 0 0 $grid-gutter-width;

            transform: translate3d(-50%, 0, 0);
            &--image {
                @extend %grey-fade-down-fg;
                @include media-breakpoint-up(md) {
                    max-height: 36rem;
                    margin-top: $grid-gutter-width;
                }

                display: flex;

                height: 80vw;
                min-height: 18rem;
            }
        }

        .post__body {
            @include media-breakpoint-up(lg) {
                padding: ($grid-gutter-width * 2);
            }

            max-width: ($grid-max-lg - $grid-gutter-width);
            margin: 0 auto;
        }
    }

    .next-previous {
        margin: $grid-gutter-width 0;
        padding: 0;
    }
}
