#page--pricing {
    background: tint($primary, 15%);

    .header {
        &__showcase {
            @extend %primary-fade-up-fg;

            transform: none;

            &:after {
                z-index: 1;
            }
        }

        &__image {
            transform: none;
        }

        &__content {
            min-height: 0;
        }
    }
}

.form--estimate-form {
    padding-top: 0;

    background: none;

    .form__container {
        @include media-breakpoint-up(lg) {
            align-items: flex-start;
            align-items: stretch;
        }
    }

    .form__panel {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        z-index: 2;
    }

    .form__title {
        @include media-breakpoint-up(md) {
            align-self: flex-start;
        }
    }

    .form__content {
        @include media-breakpoint-up(md) {
            padding-left: $grid-gutter-width;
        }

        padding: 2rem 0;

        color: $white;

        ul {
            @include block-list-tabbed-theme($primary);

            margin-top: 2rem;

            text-align: left;
        }

        li {
            @extend %card-raised;

            h6 {
                font-variant: small-caps;

                margin-bottom: 0.25rem;

                text-transform: lowercase;

                color: $orange;
            }

            i {
                @include simple-feature-icon(20px, $white);

                position: absolute;
                top: 50%;
                left: 15px;

                transform: translate3d(0, -50%, 0);
            }
        }
    }
}

.callout--communications-services {
    color: $white;
    background: tint($primary, 15%);

    .callout__title {
        flex-direction: row;

        justify-content: flex-start;
    }
}
