#page--estimate {
    background: tint($primary, 15%);

    .header {
        background: tint($primary, 15%);

        min-height: 80vh;

        &__showcase {
            @extend %primary-fade-up;
        }
    }
}

.form--estimate-form {
    @include media-breakpoint-up(lg) {
        flex-direction: row;

        align-items: flex-start;
        align-items: stretch;
    }

    background: none;

    padding-top: 0;

    .form__panel {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .form__body {
        color: $white;

        max-width: $grid-max-sm;

        ul {
            @include block-list-tabbed-theme($primary);

            display: inline-block;

            max-width: $grid-max-sm;

            margin-top: $grid-gutter-width * 0.5;

            h6 {
                margin-bottom: 0.25rem;

                color: $body-color;
            }

            i {
                @include section-icon($h5-font-size, $white);

                position: absolute;
                top: 50%;
                left: $grid-gutter-width * 0.3;

                transform: translate3d(0, -50%, 0);
            }
        }
    }
}
