#page--services {
    background: tint($primary, 15%);

    .header {
        background: tint($primary, 15%);

        min-height: 0;

        &__showcase {
            @extend %primary-fade-up;
        }
    }
}

.sections--services-we-offer {
    padding-top: 0;
    padding-bottom: 0;

    background: none;

    .section {
        @extend %actionable-card;
    }
}

.sections--other-services {
    background: none;

    color: $white;

    .sections__body {
        text-align: center;
    }

    .section {
        @extend %actionable-card;

        background: $primary;
        box-shadow: none;

        color: $white;
    }

    .section__body,
    .section__title {
        text-align: center;

        color: inherit;
    }


    .title__icon {
        @include section-icon(1.2em);

        margin: 0 0.4em 0 0;
    }
}

.sections--translation {
    @extend %geometry-full-animated-bg;
    @extend %grey-fade-full;
    @include media-breakpoint-up(md) {
        padding-bottom: $grid-gutter-width * 0.5;
    }

    .list--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }
    }

    .section {
        overflow: hidden;

        padding-bottom: 0;

        max-width: $grid-max-sm;
    }

    .section__body {
        display: flex;
        flex-direction: column;

        flex: 1 1 auto;

        margin-bottom: 0;

        ul {
            @include striped-list-theme(shade($body-bg-light, 1.5%), shade($body-bg-light, 1.5%));
            @include media-breakpoint-up(xl) {
                margin-right: $grid-gutter-width * -1.25;
                margin-left: $grid-gutter-width * -1.25;
            }

            display: flex;
            flex-direction: column;

            width: auto;

            padding-top: $grid-gutter-width * 0.5;
            margin-right: $grid-gutter-width * -1;
            margin-left: $grid-gutter-width * -1;

            text-align: left;

            flex: 1 1 auto;
            justify-self: stretch;

            li {
                @include media-breakpoint-up(xl) {
                    padding: $grid-gutter-width ($grid-gutter-width * 1.25);
                }

                position: relative;

                padding: ($grid-gutter-width * 0.5) $grid-gutter-width;

                border-top: 2px solid shade($body-bg, 2.5%);
                border-radius: 0;

                justify-self: stretch;
                flex: 1 1 auto;
            }
        }
    }

    .section__title {
        text-align: left;

        color: $tertiary;

        align-self: flex-start;
    }
}

.sections--translation-formatting {
    .sections__body {
        @include media-breakpoint-up(lg) {
            align-items: flex-start;
        }

        align-items: center;
    }

    .section {
        margin-top: $grid-gutter-width * 0.25;
        margin-bottom: $grid-gutter-width * 0.25;

        padding: 0;
    }

    .section__body {
        @include block-list-item-tabbed-theme($indigo);

        background: $body-bg-light;
        box-shadow: $card-box-shadow;

        align-items: flex-start;

        color: $body-color-light;
    }

    .section__title {
        position: initial;

        margin-bottom: 0.25rem;

        color: $body-color;
        justify-content: flex-start;

        .title__icon {
            @include section-icon($h5-font-size, $white);

            position: absolute;
            top: 50%;
            left: $grid-gutter-width * 0.3;

            transform: translate3d(0, -50%, 0);
        }
    }
}

.sections--writing-and-editing {
    @extend %primary-radial-bg;

    .title__icon {
        background: $orange;
    }

    .sections__body {
        margin-bottom: $grid-gutter-width * -1.75;

        color: $white;

        img {
            @include media-breakpoint-up(lg) {
                max-width: $grid-max-lg;
            }

            position: relative;
            left: 50%;

            width: 120vw;
            max-width: $grid-max-md;
            margin-top: 0;

            transform: translate(-50%, 0);
        }
    }

    .list--sections {
        @include media-breakpoint-up(xl) {
            max-width: $grid-max-xl;
        }
    }

    .section {
        max-width: $grid-max-sm;

        overflow: hidden;
    }

    .section__body {
        text-align: center;

        justify-content: flex-start;

        ul {
            @include striped-list-theme(tint($tertiary, 95%), tint($tertiary, 97%));

            margin-top: 2rem;
            margin-right: $grid-gutter-width * -1.25;
            margin-left: $grid-gutter-width * -1.25;

            color: $body-color;
            border: none;

            li:last-child {
                font-weight: bold;

                color: $orange;
                background: none;
            }
        }
    }

    .section__title {
        text-align: center;

        color: $orange;

        align-self: center;
    }
}

.text--workshops,
.text--communications,
.text--notary-public {
    .text__content {
        @include media-breakpoint-up(lg) {
            order: initial;
        }

        order: 2;
    }

    .text__title {
        @include media-breakpoint-up(lg) {
            align-self: flex-start;
        }
    }

    .text__image {
        @extend %grey-fade-up;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        margin-bottom: -6rem;

        &:after {
            @include media-breakpoint-up(lg) {
                height: 50%;
            }

            width: 300%;
            height: 75%;

            transform: translate3d(-33.3%, 0, 0);
        }

        img {
            @include media-breakpoint-up(lg) {
                transform: translate3d(-25%, 0, 0) scale3d(-1.5, 1.5, 1);
                transform-origin: 66.6% 50%;
            }

            width: 80vw;
            max-width: $grid-max-sm !important;
        }
    }
}

.text--workshops {
    .text__image {
          img {
            @include media-breakpoint-up(lg) {
                transform: scale3d(2, 2, 1);
                transform-origin: 50% 50%;
            }
        }
    }
}
