%badge {
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;

    padding: $badge-padding-y $badge-padding-x;

    text-decoration: none;

    border-radius: $badge-border-radius;
}

%badge-rounded {
    @extend %badge;

    padding: $badge-padding-y $badge-pill-padding-x;

    border-radius: $badge-pill-border-radius;
}

@mixin badge-theme($background: $body-background, $hover-background: shade($background, 12.5%), $active-background: shade($background, 15%)) {
    @extend %badge;

    position: relative;

    display: inline-block;
    overflow: hidden;

    color: color-yiq($background);
    border-radius: 0;
    background: $background;

    &[href]:not([disabled]):not(.disabled) {
        &:hover {
            background: $hover-background;
        }

        &:active {
            background: $active-background;
        }

        &:active:before {
            transition: 0s;
            transform: scale(0,0);

            opacity: 0.2;
        }
    }

    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';
        transition: transform 0.5s, opacity 1s;
        transform: scale(10,10);

        opacity: 0;
        background: radial-gradient(circle, color-yiq($background) 10%, transparent 10.01%);
    }
}

@mixin badge-rounded-theme($background: $body-color, $hover-background: shade($background, 12.5%), $active-background: shade($background, 15%)) {
    @include badge-theme($background, $hover-background, $active-background);

    padding: $badge-padding-y $badge-pill-padding-x;

    border-radius: $badge-pill-border-radius;
}
