%block-list-item {
    position: relative;

    overflow: hidden;

    margin-bottom: 0;
    padding: $grid-gutter-width * 0.5;

    text-align: inherit;

    border-radius: $border-radius-sm;

    > :last-child {
        margin-bottom: 0;
    }
}

%block-list-item-tabbed {
    @extend %block-list-item;

    padding-left: $grid-gutter-width * 1.5;

    &:before {
        position: absolute;
        top: 0;
        left: 0;

        width: $grid-gutter-width * 1;
        height: 100%;

        content: '';

        background: $body-bg-dark;
    }
}

%block-list-item-separated {
    @extend %block-list-item;

    background: $body-bg-light;

    &:not(:last-child) {
        margin-bottom: 0.75rem;
    }
}

%block-list {
    position: relative;

    padding: 0;

    list-style: none;

    text-align: center;

    background: $body-bg-light;

    li {
        @extend %block-list-item;
    }
}

%block-list-joined {
    @extend %block-list;

    li {
        @extend %block-list-item;
    }
}

%block-list-separated {
    @extend %block-list;

    border: none;
    background: none;

    li {
        @extend %block-list-item-separated;
    }
}

%block-list-striped {
    li {
        @extend %block-list-item;

        &:nth-child(even) {
            background: $body-bg-dark;
        }
    }
}

@mixin striped-list-theme($stripe-color: $body-bg-dark, $alt-stripe-color: transparent) {
    @extend %block-list-joined;
    @extend %block-list-striped;

    li {
        background: $stripe-color;

        &:nth-child(even) {
            background: $alt-stripe-color;
        }
    }
}

@mixin block-list-tabbed-theme($tab-color: $indigoe) {
    @extend %block-list-separated;

    color: $body-color-light;

    text-align: left;

    li {
        @extend %block-list-item-tabbed;

        &:before {
            background: $tab-color;
        }
    }
}

@mixin block-list-item-tabbed-theme($tab-color: $body-bg-dark) {
    @extend %block-list-item-tabbed;

    &:before {
        background: $tab-color;
    }
}
