.branding {
    display: block;

    color: $black;

    align-items: center;

    &__logo {
        position: relative;
        z-index: 2;

        width: auto;
        height: 60px;
        margin: 0;

        color: $white;
    }
}

.branding--default {
    @include media-breakpoint-up(md) {
        position: absolute;
        top: ($grid-gutter-width * 3.5);
        left: 50%;

        transform: translate3d(-50%, 0, 0);
    }
    @include media-breakpoint-up(lg) {
        top: 2rem;

        margin-left: 50px;

        transform: translate3d(-#{$grid-lg / 2}, 0, 0);
    }
    @include media-breakpoint-up(xl) {
        transform: translate3d(-#{$grid-xl / 2}, 0, 0);
    }

    position: fixed;
    z-index: $zindex-branding;
    top: ($grid-gutter-width / 3);
    left: $grid-gutter-width;

    .branding__logo {
        @include media-breakpoint-up(sm) {
            height: 70px;
        }
        @include media-breakpoint-up(md) {
            height: 120px;
        }
        @include media-breakpoint-up(lg) {
            height: 100px;
        }

        stroke-width: 3px;
        stroke-miterlimit: 5;
        fill: $white;

        .use {
            animation-name: DrawLine, FadeStroke, FillIn;
            animation-duration: 2.5s, 0.75s, 0.75s;
            animation-timing-function: ease-out;
            animation-delay: 0s, 2s, 2s;
            animation-iteration-count: 1;

            fill-opacity: 0;
            animation-fill-mode: forwards;
            stroke-dashArray: 900;
            stroke-dashoffset: 900;
        }
    }
}

.branding--dark {
    .branding__logo {
        fill: $body-color;
    }
}
