.branding {
    display: block;

    position: relative;

    margin-right: auto;
    margin-left: $grid-gutter-width * -0.5;

    color: $yellow;

    &:hover,
    &:active {
        color: $yellow;
    }

    &__logo {
        @include media-breakpoint-up(lg) {
            left: 12px;

            height: 80px;
        }

        position: absolute;

        left: 10px;
        right: 0;
        top: 0;
        bottom: 0;

        width: auto;
        height: 56px;

        margin: auto;

        fill: currentColor;

        stroke-width: 3px;
        stroke-miterlimit: 5;

        use {
            animation-name: DrawLine, FadeStroke, FillIn;
            animation-duration: 1.5s, 0.75s, 0.75s;
            animation-timing-function: ease-out;
            animation-delay: 0s, 1s, 1s;
            animation-iteration-count: 1;

            fill-opacity: 0;
            animation-fill-mode: forwards;
            stroke-dashArray: 900;
            stroke-dashoffset: 900;
            stroke: currentColor;
        }
    }

    &__logo-bubble {
        @include media-breakpoint-up(lg) {
            height: 148px;
        }

        height: 108px;
        width: auto;

        fill: $white;
    }
}

.branding--dark {
    color: $white;

    &:hover,
    &:active {
        color: $white;
    }

    .branding__logo-bubble {
        fill: $body-color;
    }
}
