.branding {
    display: block;
    position: relative;
    margin-right: 2rem;

    color: $black;

    align-items: center;


    &__logo {
        position: absolute;
        left: 8%;
        right: 0;
        top: 0;
        bottom: 0;

        width: auto;
        height: 52%;

        margin: auto;

        fill: $yellow;
    }

    &__logo-bubble {
        @include media-breakpoint-up(lg) {
            height: 148px;
        }

        height: 116px;
        width: auto;

        fill: $white;
    }
}

.branding--default {
    .branding__logo {
        stroke-width: 3px;
        stroke-miterlimit: 5;
        fill: $yellow;

        use {
            animation-name: DrawLine, FadeStroke, FillIn;
            animation-duration: 1.5s, 0.75s, 0.75s;
            animation-timing-function: ease-out;
            animation-delay: 0s, 1s, 1s;
            animation-iteration-count: 1;

            fill-opacity: 0;
            animation-fill-mode: forwards;
            stroke-dashArray: 900;
            stroke-dashoffset: 900;
            stroke: $yellow;
        }
    }
}

.branding--dark {
    .branding__logo {
        fill: $white;

        use {
            stroke: $white;
        }
    }

    .branding__logo-bubble {
        fill: $body-color;
    }
}
