// stylelint-disable selector-no-qualifying-type

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $hover-background: shade($background, 12.5%), $hover-border: shade($border, 12.5%), $active-background: shade($background, 15%), $active-border: shade($border, 15%)) {
    position: relative;

    overflow: hidden;

    color: color-yiq($background);
    border-color: $border;
    background: $background;
    box-shadow: $btn-box-shadow;

    &:hover {
        color: color-yiq($hover-background);
        border-color: $hover-border;
        background: $hover-background;
    }

    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $btn-box-shadow, 0 0 0 $input-btn-focus-width rgba($border, 0.5);
        } @else {
            box-shadow: 0 0 0 $input-btn-focus-width rgba($border, 0.5);
        }
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        border-color: $border;
        background-color: $background;
    }

    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: color-yiq($active-background);
        border-color: $active-border;
        background-color: $active-background;
        @if $enable-gradients {
            background-image: none; // Remove the gradient for the pressed/active state
        }

        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $btn-active-box-shadow, 0 0 0 $input-btn-focus-width rgba($border, 0.5);
        } @else {
            box-shadow: 0 0 0 $input-btn-focus-width rgba($border, 0.5);
        }

        &:before {
            transition: 0s;
            transform: scale(0,0);

            opacity: 0.2;
        }
    }

    &:before {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';
        transition: transform 0.5s, opacity 1s;
        transform: scale(10,10);
        pointer-events: none;

        opacity: 0;
        background: radial-gradient(circle, color-yiq($active-background) 10%, transparent 10.01%);
    }
}

@mixin button-outline-variant($color, $color-hover: #fff) {
    color: $color;
    border-color: $color;
    background-color: transparent;
    background-image: none;

    &:hover {
        color: $color-hover;
        border-color: $color;
        background-color: $color;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width rgba($color, 0.5);
    }

    &.disabled,
    &:disabled {
        color: $color;
        background-color: transparent;
    }

    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: $color-hover;
        border-color: $color;
        background-color: $color;
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: 0 0 0 $input-btn-focus-width rgba($color, 0.5);
    }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    font-size: $font-size;
    line-height: $line-height;

    padding: $padding-y $padding-x;

    border-radius: $border-radius;
}


//
// Base styles
//

%button {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-base, $input-btn-line-height, $btn-border-radius);

    font-weight: $btn-font-weight;

    display: inline-block;

    user-select: none;
    transition: $btn-transition;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    border: $input-btn-border-width solid transparent;

    // Share hover and focus styles
    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: $input-btn-focus-box-shadow;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: 0.65;
        box-shadow: none;
    }

    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active {
        background-image: none;
        box-shadow: $input-btn-focus-box-shadow, $btn-active-box-shadow;
    }
}

.button {
    @extend %button;
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
    pointer-events: none;
}


//
// Link buttons
//

// Make a button look and behave like a link
%button--link {
    font-weight: $btn-font-weight;

    color: $link-color;
    background-color: transparent;

    &:hover {
        text-decoration: $link-hover-decoration;

        color: $link-hover-color;
        border-color: transparent;
        background-color: transparent;
    }

    &:focus,
    &.focus {
        border-color: transparent;
        box-shadow: none;
    }

    &:disabled,
    &.disabled {
        color: $btn-link-disabled-color;
    }

    // No need for an active state here
}

.button--link {
    @extend %button--link;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
    %button--#{$color} {
        @include button-variant($value, $value);
    }

    .button--#{$color} {
        @extend %button--#{$color};
    }
}

@each $color, $value in $theme-colors {
    %button--outline-#{$color} {
        @if $color == 'light' {
            @include button-outline-variant($value, $dark);
        } @else {
            @include button-outline-variant($value, $light);
        }
    }

    .button--outline-#{$color} {
        @extend %button--outline-#{$color};
    }
}

@each $color, $value in $theme-colors {
    %button--link-#{$color} {
        color: $value;
        border: transparent;


        &:hover {
            color: tint($value, 7.5%);
            border-color: transparent;
            background-color: transparent;
        }
    }

    .button--link-#{$color} {
        @extend %button--link-#{$color};
    }
}


//
// Button Sizes
//

%button--lg {
    @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $input-btn-line-height-lg, $btn-border-radius-lg);
}

.button--lg {
    @extend %button--lg;
}

%button--sm {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $input-btn-line-height-sm, $btn-border-radius-sm);
}

.button--sm {
    @extend %button--sm;
}


//
// Block button
//

.button--block {
    display: block;

    width: 100%;
}

// Vertically space out multiple block buttons
.button---block + .button--block {
    margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
    &.button--block {
        width: 100%;
    }
}
