%card {
    @include media-breakpoint-up(md) {
        padding: $grid-gutter-width * 0.75;
    }
    @include media-breakpoint-up(xl) {
        padding: $grid-gutter-width;
    }

    padding: $grid-gutter-width * 0.5;

    color: $body-color-light;
    background-color: $body-bg-light;
}

%rounded-card {
    @extend %card;

    border-radius: $border-radius-sm;
}

%raised-card {
    @extend %card;

    @include media-breakpoint-up(md) {
        box-shadow: $card-box-shadow;
    }

    box-shadow: $card-box-shadow-lg;
}

%actionable-card {
    transform: matrix(1,0.00,0.00,1,0,0);
    transition: transform 200ms ease-in-out;

    backface-visibility: hidden;

    &:hover {
        transform: matrix(1.025,0.00,0.00,1.025,0,0);
    }
}

%rounded-raised-card {
    @extend %rounded-card;
    @extend %raised-card;
}
