%container-base {
    @include media-breakpoint-up(md) {
        padding-right: $grid-gutter-width * 0.75;
        padding-left: $grid-gutter-width * 0.75;
    }
    @include media-breakpoint-up(xl) {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }

    max-width: 100vw;

    padding-right: $grid-gutter-width * 0.5;
    padding-left: $grid-gutter-width * 0.5;

    margin-right: auto;
    margin-left: auto;
}

%container {
    @extend %container-base;
    @include media-breakpoint-up(sm) {
        width: $grid-max-sm;
    }
    @include media-breakpoint-up(md) {
        width: $grid-max-md;
    }
    @include media-breakpoint-up(lg) {
        width: $grid-max-lg;
    }
    @include media-breakpoint-up(xl) {
        width: $grid-max-xl;
    }
    @include media-breakpoint-up(xxl) {
        width: $grid-max-xxl;
    }

    width: auto;
}

%container-fluid {
    @extend %container-base;
    @include media-breakpoint-up(sm) {
        max-width: $grid-max-sm;
    }
    @include media-breakpoint-up(md) {
        max-width: $grid-max-md;
    }
    @include media-breakpoint-up(lg) {
        max-width: $grid-max-lg;
    }
    @include media-breakpoint-up(xl) {
        max-width: $grid-max-xl;
    }
    @include media-breakpoint-up(xxl) {
        max-width: $grid-max-xxl;
    }

    width: 100%;
}
