.dropdown--language {
    position: relative;

    .dropdown__button {
        z-index: 1002;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;

        i {
            width: 0;
            height: 0;
            margin-left: 0.5rem;

            border-top: 0.375rem solid currentColor;
            border-right: 0.375rem solid transparent;
            border-left: 0.375rem solid transparent;
        }
    }

    .dropdown__menu {
        z-index: 1001;
        left: 50%;

        display: flex;
        visibility: hidden;
        flex-direction: column;

        width: calc(100% + 1rem);
        min-width: 0;
        height: auto;
        padding: 3rem 0.5rem 0.25rem;

        transition: transform 200ms ease-out, opacity 150ms ease-out, visibility 100ms ease-out;
        transform: translate3d(-50%, -8rem, 0);

        opacity: 0;
        border-radius: 0;
        background: $primary;
        box-shadow: none;

        justify-content: stretch;
        align-items: flex-start;

        .menu--dark & {
            background: $white;
        }
    }


    .dropdown__item {
        width: 100%;
        padding-left: 0.5rem;

        cursor: pointer;
        text-align: left;

        color: inherit;
    }

    :checked ~ .dropdown__menu {
        visibility: visible;

        transform: translate3d(-50%, -3rem, 0);

        opacity: 1;
    }
}
