%grid {
    @include media-breakpoint-up(sm) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: auto;
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);

    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: center;
}

%grid-item {
    position: relative;

    flex: 1 1 auto;
}

%grid-item-1-1 {
    @extend %grid-item;

    width: 100%;
}

%grid-item-1-2 {
    @extend %grid-item;
    @include media-breakpoint-up(md) {
        width: 50%;

        flex: 0 0 50%;
    }
}

%grid-item-1-3 {
    @extend %grid-item;
    @include media-breakpoint-up(lg) {
        width: 33.3%;

        flex: 0 0 33.3%;
    }
}

%grid-item-1-4 {
    @extend %grid-item;
    @include media-breakpoint-up(md) {
        width: 50%;

        flex: 0 0 50%;
    }
    @include media-breakpoint-up(lg) {
        width: 25%;

        flex: 0 0 25%;
    }
}

%grid-item-1-5 {
    @extend %grid-item;
    @include media-breakpoint-up(md) {
        width: 20%;

        flex: 0 0 20%;
    }

    width: 50%;

    flex: 0 0 50%;
}

%grid-spacer {
    @extend %grid-item;

    width: 100%;
    margin: 0;
    padding: 0;

    flex: 0 0 100%;
}

.grid {
    @extend %grid;

    &__item {
        @extend %grid-item;

        &--1-1 {
            @extend %grid-item-1-1;
        }

        &--1-2 {
            @extend %grid-item-1-2;
        }

        &--1-3 {
            @extend %grid-item-1-3;
        }

        &--1-4 {
            @extend %grid-item-1-4;
        }

        &--1-5 {
            @extend %grid-item-1-5;
        }
    }

    &__spacer {
        @extend %grid-spacer;
    }
}
