%grid {
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }

    %container > & {
        @include media-breakpoint-up(xl) {
            margin-right: $grid-gutter-width * -0.5;
            margin-left: $grid-gutter-width * -0.5;
        }

        margin-right: $grid-gutter-width * -0.25;
        margin-left: $grid-gutter-width * -0.25;
    }

    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-content: center;
    align-items: stretch;
    justify-content: center;
}

.grid {
    @extend %grid;
}

@mixin grid-item() {
    position: relative;

    margin: $grid-gutter-width * 0.25;

    flex: 1 1 auto;

    @for $size from 1 through $grid-columns {
        $width: percentage(1 / $size);

        &--1-#{$size} {
            @extend .item;

            width: calc(#{$width} - #{$grid-gutter-width * 0.5});

            flex: 0 0 calc(#{$width} - #{$grid-gutter-width * 0.5});
        }
    }

    @each $point, $width in $grid-breakpoints {
        @include media-breakpoint-up($point) {
            @for $size from 1 through $grid-columns {
                $width: percentage(1 / $size);

                &--#{$point}-1-#{$size} {
                    width: calc(#{$width} - #{$grid-gutter-width * 0.5});

                    flex: 0 0 calc(#{$width} - #{$grid-gutter-width * 0.5});
                }
            }
        }
    }
}

.item {
    @include grid-item;
}

.spacer {
    @include grid-item;

    width: 100%;

    margin: 0;
    padding: 0;

    flex: 0 0 100%;
}
