%icon {
    font-size: $font-size-base;
    line-height: 0.95;

    display: inline-block;

    transform: translateZ(0);
    text-align: center;
    vertical-align: middle;

    color: $body-color;
}

%rounded-icon {
    @extend %icon;

    line-height: 1.7;

    width: $font-size-base * 1.7;
    height: $font-size-base * 1.7;

    color: $white;
    border-radius: 50%;
    background: $body-color;
    background-clip: padding-box;
}

@mixin section-icon (
    $size: $h2-font-size,
    $color: inherit,
    $background: false
) {
    @if $background {
        @extend %rounded-icon;

        width: $size * 1.7;
        height: $size * 1.7;

        background: $background;
    } @else {
        @extend %icon;
    }

    font-size: $size;

    color: $color;

    margin-bottom: 0.4em;
}
