.menu {
    @extend %container-fluid;
    @extend %grid;

    font-family: 'Roboto Condensed', $headings-font-family;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    &__item {
        display: flex;
        flex-direction: column;

        margin: 0 ($nav-link-padding-x * 2);
        padding: $nav-link-padding-y $nav-link-padding-x;

        color: inherit;

        align-items: stretch;
        flex: 0 0 auto;

        &,
        &:hover,
        &--active {
            transition: none;
            text-decoration: none;
        }

        &:hover,
        &--active {
            color: inherit;
        }
    }

    &__text,
    &__description {
        text-align: center;
    }
}

.menu--nav {
    @include media-breakpoint-up(md) {
        top: 5rem;

        align-items: center;
    }
    @include media-breakpoint-up(lg) {        
        justify-content: flex-end;
    }
    
    font-size: 1rem;
    
    position: absolute;
    z-index: $zindex-navigation;
    top: 3rem;
    right: 0;
    left: 0;

    display: flex;
    overflow: visible;

    width: 100vw;
    max-width: $grid-max-xxl;
    height: 64px;
    margin: 0 auto;
    padding: ($grid-gutter-width / 4);

    color: $white;

    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    .menu__item {
        @include media-breakpoint-up(md) {
            display: flex;
        }

        display: none;
    }

    &.menu--dark {
        color: $body-color;
    }
}
