.menu {
    @extend %container-fluid;
    @extend %grid;

    font-family: 'Roboto Condensed', $font-family-sans-serif;
    font-stretch: condensed;
    font-weight: $font-weight-bold;

    text-transform: uppercase;

    &__item {
        display: flex;
        flex-direction: column;

        font-family: inherit;

        margin: 0 ($nav-link-padding-x * 2);
        padding: $nav-link-padding-y $nav-link-padding-x;

        color: inherit;

        align-items: stretch;
        flex: 0 0 auto;

        &,
        &:hover,
        &--active {
            transition: none;
            text-decoration: none;
        }

        &:hover,
        &--active {
            color: inherit;
        }

        &--active,
        &--active:hover {
            text-decoration: underline wavy;
        }
    }

    &__text,
    &__description {
        text-align: center;
    }
}

.menu--nav {
    @include media-breakpoint-up(md) {
        top: $grid-gutter-width * 2;

        align-items: center;
    }
    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
    }

    z-index: $zindex-navigation;

    position: absolute;
    top: $grid-gutter-width * 0.5;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    overflow: visible;

    width: 100vw;
    max-width: $grid-max-xxl;
    height: 64px;

    margin: 0 auto;
    padding:  $grid-gutter-width ($grid-gutter-width * 1.25);

    font-size: 1rem;

    color: $white;
    text-shadow: 1px 1px 0.25rem rgba($black, 0.3);

    .menu__item {
        @include media-breakpoint-up(md) {
            display: flex;
        }

        display: none;
    }

    .menu__item:last-child {
        display: flex;
    }

    &.menu--dark {
        color: $body-color;
        text-shadow: none;
    }
}
