.menu-toggle {
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;

    clip: rect(0, 0, 0, 0);
}

.menu-button {
    @include media-breakpoint-up(md) {
        display: none;
    }

    display: flex;
    flex-direction: row;

    color: $white;

    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    &__button {
        margin: 0;
    }

    z-index: $zindex-modal + 1;

    position: fixed;
    top: $grid-gutter-width * 0.75;
    right: 0;

    overflow: hidden;
    flex-direction: row;

    background: $primary;

    justify-content: flex-start;

    .menu-button__button {
        position: relative;

        background: transparent;
    }

    .icon {
        box-shadow: $card-box-shadow;

        order: 10;
    }

    .icon {
        display: flex;
        flex-direction: column;

        width: $grid-gutter-width * 1.25;
        height: $grid-gutter-width * 1.25;
        padding: $grid-gutter-width * 0.375;

        align-items: center;
        justify-content: center;
    }

    .bar {
        display: block;

        width: 100%;
        height: 2px;
        margin: 3px auto;

        border-radius: $border-radius;
        background: currentColor;

        flex: 0 0 auto;

        &:nth-child(1) {
            transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        &:nth-child(2) {
            transition: opacity 125ms 300ms ease;
        }
        &:nth-child(3) {
            transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    :checked ~ & {
        .bar {
            &:nth-child(1) {
                transition-delay: 125ms;
                transform: translate3d(0, 9px, 0) rotate(135deg);
            }

            &:nth-child(2) {
                transition-delay: 0ms;

                opacity: 0;
            }

            &:nth-child(3) {
                transition-delay: 125ms;
                transform: translate3d(0, -9px, 0) rotate(-315deg);
            }
        }
    }
}

.menu-backdrop {
    position: fixed;
    z-index: -9999;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    background: rgba($black, 0.4);

    overscroll-behavior: contain;
    -ms-scroll-chaining: none;


    .menu-toggle:checked + & {
        z-index: $zindex-modal-backdrop;

        transition: opacity 400ms ease-out;

        opacity: 1;
    }
}
