.menu--offcanvas {
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    right: 0;
    left: 0;

    overflow: hidden;
    flex-direction: column;

    width: 100vw;
    max-width: none;
    height: 0;
    margin: 0 auto;
    padding: 0;

    transition: opacity 250ms;

    opacity: 0;
    color: $white;
    background: tint($black, 5%);

    overscroll-behavior: contain;
    -ms-scroll-chaining: none;

    justify-content: space-around;
    align-items: stretch;
    -ms-overflow-style: none;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
        width: 0;

        background: transparent;
    }

    .menu-toggle:checked ~ & {
        overflow: auto;

        overflow: -moz-hidden-scrollable;

        height: 100vh;
        padding: $grid-gutter-width 0 0;

        opacity: 1;
    }

    .menu__item {
        line-height: 1.2;

        position: relative;

        padding: ($grid-gutter-width / 3);

        justify-content: center;

        opacity: 0.5;

        &:first-child {
            display: none;
        }

        &--active {
            text-decoration: none;
            opacity: 1;
        }
    }

    .menu__text {
        font-size: 1.75rem;
    }

    .menu__description {
        font-size: 0.8rem;
        font-weight: $font-weight-bold;
        font-variant: small-caps;

        text-transform: lowercase;

        color: $primary;
    }


    .menu__item--active {
        .menu__description {
            text-decoration: none;
        }
    }

    .menu__item--contact {
        display: flex;
        flex-direction: column;

        margin-top: auto;
        padding: 0;

        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0.25rem;

            flex: 0 0 auto;
        }
    }

    .menu__item--social {
        display: flex;
        flex-direction: row-reverse;

        align-items: flex-end;

        .social-link {
            display: flex;
            flex-direction: row;

            margin: 0.75rem;
            color: $body-bg;

            align-items: center;

            &:hover {
                text-decoration: none;
            }

            &__icon {
                width: 24px;
                height: 24px;

                fill: currentColor;
            }
        }
    }
}
