.pagination {
    @extend %container;

    display: flex;
    flex-direction: row;

    margin: 2rem auto;

    list-style: none;

    color: $pagination-color;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    &__item {
        font-weight: $pagination-font-weight;
        line-height: $pagination-line-height;

        display: inline-block;

        padding: $pagination-padding-y $pagination-padding-x;

        text-transform: uppercase;

        border: none;
        background: $pagination-bg;

        flex: 0 0 auto;

        &--current,
        &--disabled {
            color: $pagination-disabled-color;
        }

        &--previous,
        &--next {
            @include media-breakpoint-up(sm) {
                width: auto;
                margin-top: 0;
                margin-bottom: 0;

                text-align: center;

                order: initial;
            }

            width: 50%;

            flex: 0 0 auto;
            order: -1;

            a,
            span {
                padding: $pagination-padding-y ($pagination-padding-x / 2);
            }
        }

        &--previous {
            text-align: left;
        }

        &--next {
            text-align: right;
        }
    }
}
