{% extends 'layouts/base.html.twig' %}

{% block header include('partials/header.html.twig') %}

{% block content %}
	{% if content %}<section class="content">{{content}}</section>{% endif %}
{% endblock %}

{% block footer %}
	{% if header.footer.get_started|defined(true) %}
		{{page.find('/partials/_get-started').content}}
	{% endif %}
	{{page.find('/partials/_footer').content}}
{% endblock %}
