%page {
    overflow-x: hidden;

    height: auto;
    min-height: 100%;

    width: 100%;

    background: $body-bg;
}

.page {
    @extend %page;

     > .content {
        @extend %module-content;
    }
}
