<div class="carousel {% block classes null %}">
    <div class="indicators indicators--{{id}}">
        {% block indicators null %}
    </div>
    <div class="slider slider--{{id}}">
        {% block items null %}
    </div>
</div>
