{% extends 'collections/carousel.html.twig' %}
{% import 'macros/pages.twig' as page_macros %}

{% set id = random_string(10) %}
{% block classes "carousel--features" %}

{% set orientation = features.layout.orientation|default('full-width') %}
{% set per_row = (orientation == 'full-width') ? min(features.layout.per_row|default(1), features.items|count) : 1 %}

{% set title_size = features.format.title_size|defined('h5') %}

{% block items %}
    {% for feature in features.items %}
        {% set url = feature.link ? page_macros.pageUrl(page, feature.link) %}
        {% include 'types/feature.html.twig' with {
            'feature': feature,
            'title_size': title_size,
            'per_row': per_row,
            'url': url
        } %}
    {% endfor %}
{% endblock %}

{% block indicators %}
    {% for feature in features.items %}
        <a class="indicators__dot"></a>
    {% endfor %}
{% endblock %}

{% set script %}
    tns({
        animateIn: 'tns-item--in',
        animateOut: 'tns-item--out',
        autoplay: false,
        autoWidth: true,
        container: '.slider--{{id}}',
        controls: false,
        edgePadding: 10,
        center: true,
        loop: true,
        items: {{min(features.items|length, per_row)}},
        navContainer: '.indicators--{{id}}',
        speed: 600,
        slideBy: 1,
    });
{% endset %}

{% do assets.addInlineJs(script, {'priority': 100, 'group': 'bottom'}) %}
{% do assets.addJs('theme://js/tiny-slider.js', {'priority':200, 'group':'bottom'}) %}
