<div class="tabs {% block classes null %}">
    {% block radios null %}
    <div class="tabs__labels">
        {% block labels null %}
    </div>
    <div class="tabs__content">
        {% block tabs null %}
    </div>
</div>
