<div class="tabs {% block classes null %}">
    {% block radios null %}
    <div class="tabs__buttons">
      <div class="button-group" role="toolbar">
          {% block labels null %}
      </div>
    </div>
    <div class="tabs__content">
        {% block tabs null %}
    </div>
</div>
