<a class="branding branding--{{classes|default(['default'])|join(' branding--')}}" href="{{home_url}}">
    <svg xml:space="preserve" class="branding__logo" viewBox="0 0 442.27 203.31"><use xlink:href="#svg-logo" /></svg>
    <span class="sr-only">{{site.title}}</span>
</a>
