<input type="checkbox" id="menu-toggle" class="menu-toggle" />
<label class="menu-backdrop menu-backdrop--{{menu_for}}" for="menu-toggle"></label>
<div class="menu-button">
    <label class="menu-button__button" for="menu-toggle">
        <span class="icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </span>
    </label>
</div>
