{% extends 'email/base.html.twig' %}

{% block content %}
<h1>Thanks for your inquiry!</h1>
<h2>We strive to respond within two business days.</h2>

<p class="size-17" style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;text-align: center;" lang="x-size-17">
    <br>
    If your project is urgent, please call us at <a href="tel:13062204360">1.306.220.4360</a>.<br>
    We look forward to the opportunity of working with you.
    <br>
</p>
<div style="font-size: 12px;font-style: normal;font-weight: normal;" align="left">
{% endblock content %}
